#web-site-schedule{
  #datepicker-schedule-group {
    width: 100%;
    .ui-datepicker-multi,
    .ui-widget-content{
      display: block;
      width: 100%;
    }

    .ui-widget-content{
      border: none;
    }
    .ui-datepicker-group {
      width: 25%;
      &:nth-child(5),
      &:nth-child(9) {
        clear: left;
      }


      .ui-datepicker-day-off a{
        background: #5b9cbf;
        color: white;
      }

    }
  }

}
