<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% if title is defined %}
            <title>{{ title }}</title>
        {%  endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        {% block body %}
            {% block content '' %}
            <hr>
            <p style="text-align: center">
                Письмо сгенерировано автоматически. <a href="{{ url('web_site_index') }}">Система протоколирования совещаний {{ settings().companyName }}</a>
            </p>
        {% endblock %}
    </body>
</html>