{% extends '@Common/Email/bodyLayout.html.twig' %}

{% set title = 'Дайджест от ' ~  now|date('d.m.Y')  %}

{% block content %}
    <h3>Ежедневная рассылка</h3>

    <p>
        По следующим задачам подходят сроки исполнения:
    </p>

    {% if tasks|email_user_tasks(user)|length > 0 %}
        <h4>Ваши задачи:</h4>
        <table border="0" style="width: 100%; margin-bottom: 10px;">
            {% for task in tasks|email_user_tasks(user) %}
                <tr>
                    <td>
                        <a href="{{ url('web_site_tasks_view', {id: task.id}) }}">#{{ task.id }}</a>
                    </td>
                    <td>
                        {{ task.text }}
                    </td>
                    <td>
                        {{ date(task.deadline_datetime)|date('d.m.Y H:i') }} {{ date(task.deadline_datetime)|task_deadline_interval_string }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    {% if tasks|email_mayor_tasks(user)|length > 0 %}
        <h4>Задачи в которых вы мэр:</h4>
        <table border="0" style="width: 100%">
            {% for task in tasks|email_mayor_tasks(user) %}
                <tr>
                    <td>
                        <a href="{{ url('web_site_tasks_view', {id: task.id}) }}">#{{ task.id }}</a>
                    </td>
                    <td>
                        {{ task.text }}
                    </td>
                    <td>
                        {{ date(task.deadline_datetime)|date('d.m.Y H:i') }} {{ date(task.deadline_datetime)|task_deadline_interval_string }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}