{% extends '@Common/Email/bodyLayout.html.twig' %}

{% set title =  settings().companyName ~ ' '~ meeting.status|meeting_protocol_title ~ ' '~ meeting|meeting_number_or_date %}

{% macro echoChangeField(entity, field, property, lastNotification, filters) %}
    {% spaceless %}
        {% if (emailFieldUpdated(entity, field, lastNotification)) %}

            {% if property %}
                {% set lastValueProperty = field ~ 'Last.' ~ property%}
                {% set currentValueProperty = field ~ '.' ~ property%}
            {% else %}
                {% set lastValueProperty = field ~ 'Last' %}
                {% set currentValueProperty = field %}
            {% endif %}

            {% set lastValue = emailPropertyAccessor().getValue(entity, lastValueProperty) %}
            {% set currentValue =  emailPropertyAccessor().getValue(entity, currentValueProperty) %}

            {% if filters %}
                {% set lastValue = lastValue|apply_filter(filters) %}
                {% set currentValue = currentValue|apply_filter(filters)  %}
            {% endif %}

            {% if lastValue != currentValue %}
               {{ _self.echoChange(lastValue) }}
            {% endif %}

        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro echoQuestionChangeField(question, field, property, lastNotification, filters) %}
    {% if emailIsShowQuestionChanges(question, lastNotification) %}
        {{ _self.echoChangeField(question, field, property, lastNotification, filters) }}
    {% endif %}
{% endmacro %}

{% macro echoMeetingChangeField(meeting, field, property, lastNotification, filters) %}
    {% if emailIsShowMeetingChanges(meeting, lastNotification) %}
        {{ _self.echoChangeField(meeting, field, property, lastNotification, filters) }}
    {% endif %}
{% endmacro %}

{% macro echoChange(lastValue) %}
    <s>
        {{ lastValue }}
    </s> &nbsp;
{% endmacro %}

{% macro echoRowStatus(meeting, entity, lastNotification) %}
    {% if emailIsRowDeleted(meeting, entity, lastNotification) %}
        <span style="color: darkred">(Удалено)</span>
    {% elseif emailIsRowCreated(meeting, entity, lastNotification) %}
        <span style="color:darkgreen">(Добавлено)</span>
    {% endif %}
{% endmacro %}

{% block content %}

    <h2 style="margin-bottom: 5px; margin-top: 5px; padding:0;">
        {{ meeting.status|meeting_protocol_title }} {{ meeting|meeting_number_or_date }}   {{ settings().companyName  }}
    </h2>
    <div style="padding-bottom: 5px;"><strong>Статус:</strong> {{ meeting.statusName }}</div>

    <div style="padding-bottom: 5px;"><strong>Дата:</strong> {{ _self.echoMeetingChangeField(meeting,'datetime','',lastNotification, "date('d.m.Y')" ) }} {{ meeting.datetime|date('d.m.Y') }} г.</div>
    <div style="padding-bottom: 5px;"><strong>Время:</strong> {{ _self.echoMeetingChangeField(meeting,'datetime','',lastNotification, "date('H:i')" ) }} {{ meeting.datetime|date('H:i') }}</div>
    <div style="padding-bottom: 5px;"><strong>Место:</strong> {{ _self.echoMeetingChangeField(meeting,'place','title', lastNotification ) }} {{ meeting.place.title }}</div>

    <p>
        Председатель -
        {% if emailIsShowMeetingChanges(meeting, lastNotification) and emailFieldUpdated(meeting, 'chairman', lastNotification) %}
            {{ _self.echoChange(meeting.chairmanLast.name ~ ', ' ~ meeting.chairmanLast|user_position) }}
        {% endif %}
        {{ meeting.chairman.name }}, {{ meeting.chairman|user_position }}
    </p>

    {% set meetingMembers = emailMeetingOrderedMembers(meeting, true, lastNotification)  %}
    {% if meetingMembers|length > 0 %}
        <h3>Приглашенные сотрудники Союза:</h3>
        <ol>
            {% for key,member in meetingMembers %}
                <li>
                    {{ _self.echoRowStatus(meeting, member, lastNotification) }}
                    {% if (emailFieldUpdated(member, 'user', lastNotification)) %}
                        {{ _self.echoChange(member.userLast.name ~ ' (' ~ member.userLast|user_position ~ ')') }}
                    {% endif %}

                    {%
                        if emailFieldUpdated(member, 'presence', lastNotification)
                            and emailIsRowCreated(meeting, member, lastNotification) == 0
                            and emailIsRowDeleted(meeting, member, lastNotification) == 0
                    %}
                        <span style="color: #1b6d85">(Перенесено)</span>
                    {% endif %}

                    {{ member.user.name }} ({{ member.user|user_position }})
                </li>
            {% endfor %}
        </ol>
        Секретарь:
        {% if emailIsShowMeetingChanges(meeting, lastNotification) and  emailFieldUpdated(meeting, 'secretary', lastNotification) %}
            {{ _self.echoChange(meeting.secretaryLast.name ~ ', ' ~ meeting.secretaryLast|user_position) }}
        {% endif %}
        {{ meeting.secretary.name }} ({{ meeting.secretary|user_position }})
    {% endif %}

    {% set meetingNotPresenceMembers = emailMeetingOrderedMembers(meeting, false, lastNotification)  %}
    {% if meetingNotPresenceMembers|length > 0 %}
        <h3 style="margin-bottom: 5px; margin-top: 10px; padding:0;">
            Отсутствовали:
        </h3>
        <ol>
            {% for member in meetingNotPresenceMembers %}
                <li>
                    {{ _self.echoRowStatus(meeting, member, lastNotification) }}
                    {% if
                        emailFieldUpdated(member, 'presence', lastNotification)
                        and emailIsRowCreated(meeting, member, lastNotification) == 0
                        and emailIsRowDeleted(meeting, member, lastNotification) == 0
                    %}
                        <span style="color: #1b6d85">(Перенесено)</span>
                    {% endif %}
                    {% if emailFieldUpdated(member, 'user', lastNotification) %}
                        {{ _self.echoChange(member.userLast.name ~ ' (' ~ member.userLast|user_position ~ ')') }}
                    {% endif %}
                    {{ member.user.name }} ({{ member.user|user_position }}) - {{ _self.echoChangeField( member, 'cause', '', lastNotification) }} {{ member.cause}}
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    {% set questions=emailMeetingQuestions(meeting, lastNotification) %}

    {% if questions|length > 0 or meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CREATED') %}
        <h3>
            Вопросы текущего совещания:
        </h3>
    {% endif %}

    {% if questions|length > 0%}

        {% set meetingUserQuestions = [] %}
        {% if emailIsShowMeetingChanges(meeting, lastNotification) %}
            {% set meetingUserQuestions = emailMeetingUserQuestions(meeting, lastNotification) %}
        {% endif %}

        {% for key,question in questions %}

            {% if emailIsShowQuestionChanges(question, lastNotification) and meetingUserQuestions[question.id] is defined %}
                {% set userQuestions = meetingUserQuestions[question.id] %}
            {% else %}
                {% set userQuestions = [] %}
            {% endif %}

            <div style="padding-left: 30px;">
                <strong>{{ loop.index }}.
                    {{ _self.echoRowStatus(meeting, question, lastNotification) }}
                    {{ _self.echoQuestionChangeField(question, 'text', '', lastNotification) }}
                    {{ question.text }}
                </strong>

                {% if question.answer is not empty %}
                    <p>
                        Решение:
                        {{ question.answer }}
                    </p>
                {% endif %}

                {% if question.description is not empty %}
                    <p>
                        Пояснение к решению:
                        {{ question.description }}
                    </p>
                {% endif %}

                <div style="padding-bottom: 5px; padding-left: 20px;">
                    Докладчики:
                    <ul>
                        {% for key, user in question.users %}
                            <li>
                                {% if user.id in userQuestions %}
                                    <strong><span style="color:darkgreen">(Добавлено)</span></strong>
                                {% endif %}
                                {{ user.name }} ({{ user|user_position }})
                            </li>
                        {% endfor %}

                        {% if emailIsShowQuestionChanges(question, lastNotification) %}
                            {% for key, user in emailDeletedUserQuestions(question, lastNotification) %}
                                <li>
                                    <strong><span style="color:darkred">(Удалено)</span></strong>
                                    {{ user.name }} ({{ user|user_position }})
                                </li>
                            {% endfor %}
                        {% endif %}

                    </ul>

                    {% if meeting.status in [
                        constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED'),
                        constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED')
                    ] %}
                        <div style="padding-left: 20px; padding-top: 10px;">
                            <strong>Поставленные задачи:</strong>
                            <ol>
                                {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
                                    {% set tasks = question.tasks %}
                                {% else %}
                                    {% set tasks = question.tasksPlaned %}
                                {% endif %}

                                {% for keyTask,task in tasks %}
                                    <li>
                                        <div style="padding-bottom: 10px;">
                                            {% if task.type == constant('\\CommonBundle\\Entity\\TaskPlaned::TASK_PLANED_TYPE_REPEAT')%} Постоянная задача: {% endif %}
                                            <strong>{{ task.text }}</strong>
                                        </div>
                                        Мэр: {{ question.mayor.name }} ({{ question.mayor|user_position }})
                                        <br>
                                        {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
                                            Ответственный: {{ task.user.name }} ({{ task.user|user_position }}) <br>
                                        {% else %}
                                            Ответственне:
                                            <ul>
                                                {% for user in task.users %}
                                                    <li>{{ user.name }} ({{ user|user_position }})</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% spaceless %}
                                            Дата исполнения: {{ task.deadlineDatetime|date('d.m.Y H:i') }}
                                            {{ task|task_repeat_period('string') }}
                                        {% endspaceless %}

                                        {% if task.description != '' %}<br>
                                             <div>
                                                <strong>Пояснение к задаче:</strong>
                                             </div>
                                            <div style="font-style: italic; padding-top: 5px;">{{ task.description }}</div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    {% endif %}

                    {% if emailIsShowQuestionChanges(question, lastNotification) %}
                        {% set deletedFiles = emailDeletedQuestionFiles(question, lastNotification) %}
                    {% else %}
                        {% set deletedFiles = [] %}
                    {% endif %}

                    {% if question.files|length > 0 or deletedFiles|length > 0 %}
                        Документы:
                        <ul>
                            {% for file in question.files %}
                                <li>
                                    {% if emailMeetingQuestions(meeting, lastNotification) %}
                                        <strong><span style="color:darkgreen">(Добавлено)</span></strong>
                                    {% endif %}
                                    <a>{{ file|file_download_link(true)}}</a>
                                </li>
                            {% endfor %}
                            {% for file in deletedFiles %}
                                <li>
                                    <strong><span style="color:darkred">(Удалено)</span></strong>
                                    <a>{{ file|file_download_link(true)}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>
        {% endfor %}

        {% if meeting.status in [
            constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED'),
            constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED')
        ] %}
            Вопросы исчерпаны
        {% endif %}
    {% endif %}

    {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CREATED') %}
        {{ (questions|length) + 1  }}.
        <strong>
            Прочее
        </strong>
    {% endif %}

{% endblock %}