{% extends '@Common/Email/bodyLayout.html.twig' %}
{% set title = 'Задача #' ~ task.id %}

{% block content %}

    {% block beforeTaskContent ''%}
        <p>
            Совещание: <a href="{{ url('web_site_meetings_view', {id: task.question.meeting.id}) }}">{{ task.question.meeting|meeting_number_or_date }}</a>
        </p>
        <p>
            Вопрос: <a href="{{ url('web_site_questions_view', {id: task.question.id}) }}">#{{ task.question.id }}</a>, {{ task.question.text }}
        </p>
        <p>
            {{ task.type|task_type_name }}: <a href="{{ url('web_site_tasks_view', {id: task.id}) }}">#{{ task.id }}</a>, {{ task.text }}
        </p>
        <p>
            {% spaceless %}
                Дата исполнения: {{ task.deadlineDatetime|date('d.m.Y H:i') }}{{ task|task_repeat_period }}
            {% endspaceless %}
        </p>
        <p>
            Ответственный: {{ task.user.name }} ({{ task.user|user_position }})
        </p>
        {% if task.description != '' %}
            <p>
                {{ task.description }}
            </p>
        {% endif %}

    {% block taskContent ''%}

{% endblock %}

