{% extends '@Common/Email/taskLayout.html.twig' %}
{% set title = 'Задача #' ~ task.id %}

{% block beforeTaskContent %}
    <p>
        <strong>{{ user.name }} ({{ user|user_position }}) внесл(а) изменения в задачу #{{ task.id }}. </strong>.
    </p>
{% endblock %}

{% block taskContent%}

    <p>
        <strong>Изменения:</strong>
    </p>

    {% if changeset.status is defined %}
        <p>
            - статус задачи: <s>{{ changeset.status[0]|task_status_name }}</s> -> {{ changeset.status[1]|task_status_name }}
        </p>
    {% endif %}

    {% if changeset.user is defined %}
        <p>
            - Ответственный: <s>{{ changeset.user[0].name }} (changeset.user[0]|user_position) </s> -> {{ changeset.user[1].name }} (changeset.user[1]|user_position)
        </p>
    {% endif %}

    {% if changeset.deadlineDatetime is defined %}
        <p>
            - дедлайн: <s>{{ changeset.deadlineDatetime[0]|date('d.m.Y H:i') }}</s> -> {{ changeset.deadlineDatetime[1]|date('d.m.Y H:i') }}
        </p>
    {% endif %}

    {% if changeset.type is defined %}
        <p>
            - тип задачи: <s>{{ changeset.type[0]|task_type_name }}</s> -> {{ changeset.type[1]|task_type_name }}
        </p>
    {% endif %}

    {% if message != '' %}
        <p>
            <strong>Причина изменений</strong>:
        </p>
        <p>
            <i>{{ message }}</i>
        </p>
    {% endif %}
{% endblock %}