{% extends '@Common/Email/taskLayout.html.twig' %}

{% block beforeTaskContent %}
    {% if sendToUser.id == task.user.id %}
        <p>
            <strong>У вас новая задача.</strong>
        </p>
    {% else %}
        <p>
            <strong>Новая задача.</strong>
        </p>
    {% endif %}
    <p>
        {{ user.name }} ({{ user|user_position }}) создал(а) задачу к вопросу
        <a href="{{ url('web_site_questions_view', {id:task.question.id}) }}">
            {{ task.question.text }}
        </a>
    </p>
{% endblock %}