{% extends '@Common/Email/taskLayout.html.twig' %}
{% set title = 'Задача #' ~ task.id %}

{% block beforeTaskContent %}
    <p>
        Уведомление о задаче <a href="{{ url('web_site_tasks_view', {id: task.id}) }}">#{{ task.id }}</a>
    </p>

    {% if task.type == constant('\\CommonBundle\\Entity\\Task::TASK_TYPE_FINITE') %}
        {% if taskDeadlineInterval(task.deadlineDatetime).invert == 0 %}
            До окнчания срока исполнения задачи <a href="{{ url('web_site_tasks_view', {id: task.id}) }}">#{{ task.id }}</a> осталось:
        {% else %}
            Срок окончания исполнения задачи <a href="{{ url('web_site_tasks_view', {id: task.id}) }}">#{{ task.id }}</a> истек:
        {% endif %}

        {{ taskDeadlineInterval(task.deadlineDatetime).format('%d дн. %H ч. %I мин.') }}
    {% endif %}

{% endblock %}