{% extends '@Common/Email/taskLayout.html.twig' %}

{% block beforeTaskContent %}
    <p>
        <strong>{{ taskLog.user.name }} ({{ taskLog.user|user_position }}) добавил(а) комментарий к задаче
            <a href="{{ url('web_site_tasks_view', {id:task.id}) }}">
                #{{ task.id }}
            </a>
        </strong>
    </p>
{% endblock %}

{% block taskContent %}
    <table style="width: 100%" cellspacing="1" border="0" cellpadding="1">
        <tbody>
            <tr>
                <td style="width:150px; text-align: center">
                    {{ taskLog.datetime|date('d.m.Y H:i') }}
                </td>
                <td>
                    {{ taskLog.text }}
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        Для того чтобы ответить на сообщение пройдите  <a href="{{ url('web_site_tasks_view', {id:task.id}) }}">
            по ссылке.
        </a>
    </p>
{% endblock %}