{% macro input(filters, field, title) %}
    <div class="filter-wrapper filter-type-input-text"><input type="text" class="form-control" value="{{ filters[field].value }}" name="{{ field }}" placeholder="{{ title }}"></div>
{% endmacro %}

{% macro select(filters, field) %}
    <select name="{{field}}" class="form-control">
        <option value="" {% if filters[field].value is same as('') %} selected{% endif %}>&nbsp;</option>
        {% for key in filters[field].options|keys %}
            <option value="{{key}}"{% if filters[field].value == key  %} selected{% endif %}>{{ filters[field].options[key] }}</option>
            {{key}} - {{filters[field].value}}
        {% endfor %}
    </select>
{% endmacro %}

{% macro datepicker(filters, field, title) %}
    <input type="text" class="form-control datepicker" value="{{ filters[field].value }}" name="{{ field }}" placeholder="{{ title }}">
{% endmacro %}

{% macro add(filters, field, title) %}
    {%if (filters[field].options)%}
        {{ _self.select(filters, field) }}
    {% elseif filters[field]['type']=='date' %}
        {{ _self.datepicker(filters, field, title) }}
    {% else %}
        {{ _self.input(filters, field, title) }}
    {% endif %}
{% endmacro %}

{% macro datepicker_js() %}
    <script>
        $(function(){
            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy',
                language: 'ru',
                onSelect: function(){
                    $('#filter_form').submit();
                }
            });
        });
    </script>
{% endmacro %}

{% macro clear_js() %}
    <script>
        $(function(){
            $('#filter_clear').click(function () {
                form = $('#filter_form');
                $('input[type=text]', form).val('');
                $('select', form).val('');
                form.submit();
            });
        });
    </script>
{% endmacro %}

{% macro auto_submit_js() %}
    <script>
        $('#filter_form select').change(function(){
            $('#filter_form').submit();
        })
    </script>
{% endmacro %}