.user-info-container {
  display: block;
  padding: 0px 0px 0px 5px;
  background-color: @layout_green;
  width: 240px;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
  .user-info-container-content-wrapper{
    height: 40px;
    .user-info-container-icon-wrapper{
      padding-right: 5px;
    }
    .user-info-container-username,
    .user-info-container-icon-wrapper{
      vertical-align: middle;
    }
  }

  &:hover{
    background-color:darken(@layout_green, 10%);
    color: #ffffff;
  }
}