@import 'variables';
@import 'layout';

.a{
  color: #236e96;
  cursor: pointer;
  &:hover{
    color: darken(#236e96, 20%);
  }
}
input[type="date"]::-webkit-input-placeholder{
  visibility: hidden !important;
}

#calendar-datepicker {
  .popover{
    width: 300px;
    .brace{
      width: 300px;
      height:200px;
    }
    a{
      text-align: left;
      &.ui-state-hover{
        text-decoration: underline;
        cursor: pointer;
        background: none;
        border: none;
      }
    }
    span{
      display: inline;
    }
  }
}

.task-log-comment-form{
  .task-log-file-row{
    &:nth-child(2n){
      background: #f3f3f3;
    }
    padding: 10px;
    .task-log-delete-file{
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.row-list-striped{
  &>.row-striped{
    padding: 5px;
    &:nth-child(2n){
      background-color: #f9f9f9;
    }
  }
}

.task-deadline-interval{
  &.task-deadline-reserve{
    color: darkgreen;
  }

  &.task-deadline-delay{
    color: darkred;
  }

  &.task-deadline-today{
    color: orangered;
  }
}

.table-inner-data,
.table-default {
  .task-status-completed td{
    background: #f0f0f0;
  }
  .td-task-id{
    width: 65px;
  }
  .td-question-id{
    width: 60px;
  }
  .td-meeting-num{
    width: 60px;
  }
}

.color-testing{
  color: @task_color_testing;
}
.color-approved {
  color: @task_color_approved;
}
.color-created {
  color: @task_color_created;
}
.color-processing {
  color: @task_color_processing;
}
.color-completed {
  color: @task_color_completed;
}

.meeting-status{
    &.background {
      &.status-closed {
        td {
          background: @color_light_gray;
        }
      }
    }
    &.color{
      &.status-closed {
        color: @meeting_color_closed;
      }
      &.status-opened {
        color: @meeting_color_opened;
      }
      &.status-created {
        color: @meeting_color_created;
      }
    }
}

.user-status{
  &.status-enabled{
    color: @color_green
  }
  &.status-disabled{
    color: @color_orange
  }
}