@layout_green: #0a9b4e;
@layout_blue: #5b9cbf;

@color_light_gray: #f0f0f0;
@color_gray: #626262;
@color_orange: orangered;
@color_green: #0a9b4e;

@task_color_testing: orangered;
@task_color_approved: darkgreen;
@task_color_created: #626262;
@task_color_processing: #62b9ff;
@task_color_completed: #626262;

@meeting_color_closed:  #626262;
@meeting_color_opened: darkgreen;
@meeting_color_created: #62b9ff;