html, body {
    height: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #252d3a;
    background-color: #e7ebee;
}

a {
    color: #236e96;
}

h1 {
    font-size: 30px;
    color: #252d3a;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.m-a-0 {
    margin: 0 0 !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-r-0 {
    margin-right: 0 !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-l-0 {
    margin-left: 0 !important
}

.m-x-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.m-a-1 {
    margin: 1rem 1rem !important
}

.m-t-1 {
    margin-top: 1rem !important
}

.m-r-1 {
    margin-right: 1rem !important
}

.m-b-1 {
    margin-bottom: 1rem !important
}

.m-l-1 {
    margin-left: 1rem !important
}

.m-x-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.m-y-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.m-a-2 {
    margin: 1.5rem 1.5rem !important
}

.m-t-2 {
    margin-top: 1.5rem !important
}

.m-r-2 {
    margin-right: 1.5rem !important
}

.m-b-2 {
    margin-bottom: 1.5rem !important
}

.m-l-2 {
    margin-left: 1.5rem !important
}

.m-x-2 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.m-y-2 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.m-a-3 {
    margin: 3rem 3rem !important
}

.m-t-3 {
    margin-top: 3rem !important
}

.m-r-3 {
    margin-right: 3rem !important
}

.m-b-3 {
    margin-bottom: 3rem !important
}

.m-l-3 {
    margin-left: 3rem !important
}

.m-x-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.m-y-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.p-a-0 {
    padding: 0 0 !important
}

.p-t-0 {
    padding-top: 0 !important
}

.p-r-0 {
    padding-right: 0 !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-l-0 {
    padding-left: 0 !important
}

.p-x-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.p-a-1 {
    padding: 1rem 1rem !important
}

.p-t-1 {
    padding-top: 1rem !important
}

.p-r-1 {
    padding-right: 1rem !important
}

.p-b-1 {
    padding-bottom: 1rem !important
}

.p-l-1 {
    padding-left: 1rem !important
}

.p-x-1 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.p-y-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.p-a-2 {
    padding: 1.5rem 1.5rem !important
}

.p-t-2 {
    padding-top: 1.5rem !important
}

.p-r-2 {
    padding-right: 1.5rem !important
}

.p-b-2 {
    padding-bottom: 1.5rem !important
}

.p-l-2 {
    padding-left: 1.5rem !important
}

.p-x-2 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.p-y-2 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.p-a-3 {
    padding: 3rem 3rem !important
}

.p-t-3 {
    padding-top: 3rem !important
}

.p-r-3 {
    padding-right: 3rem !important
}

.p-b-3 {
    padding-bottom: 3rem !important
}

.p-l-3 {
    padding-left: 3rem !important
}

.p-x-3 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.p-y-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.nav-bar-main {
    z-index: 9;
    border-radius: 0px;
}

.sidebar-left-bg {
    background-color: #252d3a;
    position: fixed;
    width: 240px;
    height: 100%;
    top: 40px;
    left: 0px;
}

.sidebar-left {
    background-color: #252d3a;
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 40px;
}

.content-layout {
    padding-left: 240px;
    /*padding-right: 30px;*/
}

.dashoboard-container {
    padding-left: 270px;
    padding-right: 30px;
    padding-top: 60px;
}

.nav-sysem-vertikal li a {
    border-bottom: 1px solid #3e444f;
}

.nav-sysem-vertikal li a {
    padding: 16px 15px;
    border-left: 6px solid transparent;
    color: #616875;
}

.nav-sysem-vertikal li.active a, .nav-sysem-vertikal li a:hover, .nav-sysem-vertikal li a:active, .nav-sysem-vertikal li a:focus {
    border-left: 6px solid #0a9b4e;
    color: #ffffff;
    background-color: transparent;
    background-image: url("../images/icons/i-arrow-right-green.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
}

.nav-sysem-vertikal li a i {
    float: left;
    margin-right: 12px;
}

.nav-sysem-vertikal li a .label {
    margin-left: 12px;
}

.label {
    padding: 0.5em 0.8em 0.5em 0.9em;
}

.label-danger {
    background-color: #e35f39;
}

.dashboard-item {
    width: 14.28571428571429%;
}

.dashboard-item p {
    line-height: 120%;
}

.dashboard-item-index {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    color: #252d3a;
    min-height: 190px;
    background-color: #ffffff;
}

.dashboard-item-index:hover {
    border-color: #0a9b4e;
}

.nav-bar-main {
    min-height: 40px;
    height: 40px;
    border: none;
}

.user-info-container {
    display: block;
    height: 40px;
    padding: 0px 0px 0px 20px;
    background-color: #0a9b4e;
    width: 240px;
    color: #ffffff;
    line-height: 40px;
    font-size: 13px;
}

.user-info-container:hover {
    color: #ffffff;
}

.user-info-container i {
    margin-top: 11px;
    float: left;
    margin-right: 12px;
}

.nav-bar-main-index {
    height: 40px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #ffffff;
}

.nav-bar-main-index .navbar-nav {
    position: relative;
    z-index: 9;
}

.nav-bar-main-index .navbar-nav li {
    border-right: 1px solid #e4e4e4;
}

.nav-bar-main-index .navbar-nav li a {
    padding: 10px;
    color: #e35f39;
    font-size: 12px;
    text-align: center;
}

.notification-list li .item-bullet {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #ffffff;
    position: absolute;
    top: 13px;
    left: -6px;
    z-index: 9;
}

.notification-list li a:hover, .notification-list li a:focus, .notification-list li a:active {
    background: #e35f39;
    color: #ffffff;
}

.notification-list li:hover .item-bullet, .notification-list li:focus .item-bullet, .notification-list li:active .item-bullet {
    background: #e35f39;
}

.header-search-container .form-control {
    height: 40px;
    box-shadow: none;
    background-image: url("../images/icons/i-loupe.png");
    background-repeat: no-repeat;
    background-position: right 11px center;
    border: none;
    font-size: 13px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-right: 30px;
}

.nav-bar-main-index .navbar-nav li.logout a {
    border-right: none;
    border-left: 1px solid #e4e4e4;
    color: #262e3b;
}

.nav-bar-main-index .navbar-nav li.logout a:hover {
    background: #e35f39;
    color: #ffffff;
}

.sidebar-calendar-container {
    padding: 10px;
}

.ui-datepicker th:nth-child(6), .ui-datepicker th:nth-child(7) {
    color: #e46c4a;
}

.round-blue {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #5b9bbf;
    border-radius: 4px;
}

.round-green {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #0a9b4e;
    border-radius: 4px;
}

.color-blue {
    color: #5b9bbe;
}

.color-green {
    color: #0c9a50;
}

.sidebar-calendar-container {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: #fbfaf6;
    font-size: 13px;
}

.sidebar-calendar-container p {
    margin: 0px;
}

.sidebar-calendar-container .round-blue, .sidebar-calendar-container .round-green {
    margin-right: 5px;
}

.notification-container {
    display: none;
    background-color: #ffffff;
    margin-left: 240px;
    height: 100%;
    position: fixed;
    width: 390px;
    border-right: 1px solid #e4e4e4;
}

.notification-container:before {
    display: block;
    content: "";
    background-color: #e35f39;;
    height: 5px;
}

.bullet-active {
    background-color: #e35f39 !important;
}

.close-notifications {
    background-color: #f2f2f2;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #252d3a;
}

.item-notification {
    width: 158px;
    text-align: center;
}

.item-task {
    width: 230px;
    text-align: center;
}

.notification-item-active {
    background: #e35f39;
    color: #ffffff !important;
}

.i-speaker-active {
    background-image: url("../images/icons/i-speaker-active.png") !important;
}

.notification-index {
    padding: 20px;
    height: 88%;
    position: absolute;
    overflow: auto;
    width: 100%;

}

.notification-index h5 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.notification-index p {
    font-size: 12px;
    margin-bottom: 5px;
}

.header-container {
    height: 120px;
    padding-left: 35px;
    background-color: #ffffff;
}

.content-container {
    padding-top: 40px;
}

.page-navigation-container {
    height: 50px;
}

.nav.nav-tabs.nav-tabs-default {
    background-color: #ffffff;
    padding-left: 35px;
}

.nav.nav-tabs.nav-tabs-default li a {
    color: #c9c9c9;
    padding: 15px 0px 10px 0px;
    margin-right: 25px;
    border: 0px;
    border-bottom: 5px solid transparent;
}

.nav.nav-tabs.nav-tabs-default li.active a, .nav.nav-tabs.nav-tabs-default li a:hover, .nav.nav-tabs.nav-tabs-default li a:focus, .nav.nav-tabs.nav-tabs-default li a:active {
    border-bottom: 5px solid #5b9cbf;
    color: #252d3a;
    background-color: #ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
}

.tab-content.tab-content-default {
    padding: 20px 35px;
}

.full-width-button {
    display: block;
    width: 100%;
}

.btn-default {
    border-color: #ffffff;
}

.btn-default:active, .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:focus {
    color: #ffffff !important;
    background-color: #0a9b4e !important;
    border-color: #0a9b4e !important;
    box-shadow: none !important;
}

.breadcrumb.breadcrumb-default {
    background-color: #ffffff;
    border-radius: 0px;
    list-style: outside none none;
    margin-bottom: 0px;
    height: 50px;
    padding-top: 15px;
    padding-left: 35px;
}

.breadcrumb.breadcrumb-default > li.back-link:before {
    content: "<";
    margin-right: 15px;
}

.breadcrumb.breadcrumb-default li a {
    color: #252d3a;
}

.inner-content-container {
    padding: 25px 50px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #acacac;
    border-radius: 0px;
    color: #252d3a;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
}

.form-control:focus {
    border-color: #66afe9;
    border: 5px solid #5b9cbf outline : 0;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
    background-color: #5b9cbf;
    border-color: #5b9cbf
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #74b2d4;
    border-color: #74b2d4
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #74b2d4 !important;
    border-color: #74b2d4 !important;
    box-shadow: none !important;
}

.btn-lg {
    font-size: 15px;
    border-radius: 6px;
    padding: 15px;
}

.inner-content-index {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
}

.content-container h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
}

.main-wrapper {
    height: 100%;
    min-width: 1270px !important;
}

.main-wrapper-start {
    background-color: #ffffff;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}

.fileUpload {
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 54px;
}

.holiday-list {
    font-size: 12px;
}

.holiday-list li:first-child {
    width: 100px;
    text-align: left;
}

.holiday-list li {
    padding-left: 0px;
    padding-right: 0px;
    width: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.holiday-list li.active {
    background-color: #e35f39;
    color: #ffffff;
}

.btn-success {
    background-color: #398439;
    border-color: #398439;
    color: #fff;
}

.btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btn-success:disabled, .btn-success:disabled:hover {
    background-color: #a1a1a1;
    border-color: #a1a1a1;
}

.item-date {
    font-size: 12px;
}

.photo-item {
    color: #252d3a;
}

.photo-item h4 {
    margin-bottom: 0px;
}

.photo-item:hover h4 {
    text-decoration: underline;
}

.video-container {
    width: 670px !important;
}

.video-item {
    display: inline-block;
    background-image: url("../images/icons/i-video.png");
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    margin-top: -70px;

}

.btn-danger {
    background-color: #e35f39;
    border-color: #e35f39;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: #f57a56 !important;
    border-color: #f57a56 !important;
    box-shadow: none;
}

.presentation-item {
    border-bottom: 1px solid #e1e1e1;
    margin-left: -5px;
    margin-right: -5px;
}

.presentation-name {
    width: 300px;
    display: inline-block;
}

.print-button, .print-button:hover {
    display: block;
    height: 18px;
    background-image: url("../images/icons/i-print.png");
    background-repeat: no-repeat;
    padding-left: 28px;
    line-height: 125%;
    text-decoration: underline;
    color: #999999;
    font-size: 12px !important;
}

.pull-left .print-button {
    margin-top: 12px;
}

.employee-item {
    background-color: #ffffff;
    border-radius: 4px;
    height: 132px;
    border: 2px solid transparent;
}

.employee-item:hover {
    border-color: #0a9b4e;
}

.employee-img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.employee-id {
    color: #cccccc;
}

.contacts-item {
    line-height: 100%;
    display: inline-block;
    color: #5b9cbf;
    width: 110px;
}

.contacts-item img {

    display: inline-block;
    padding-right: 8px;
}

.contacts-link {
    color: #154d86 !important;
    text-decoration: underline !important;
}

.employee-item h4 {
    margin-bottom: 5px !important;
}

.remove-button-large {
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: url("../images/icons/i-delete-big.png");
    background-position: center top 34px;
    background-repeat: no-repeat;
    height: 130px;
    border-left: 1px solid #e1e1e1;
    padding-left: 35px;
    padding-right: 35px;
}

.remove-button-large span {
    display: inline-block;
    font-size: 12px;
    margin-top: 85px;
    color: #e2613a;
}

.edit-button-large {
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
    background-image: url("../images/icons/i-edit-big.png");
    background-position: center top 34px;
    background-repeat: no-repeat;
    height: 130px;
    padding-left: 25px;
    padding-right: 25px;
}

.edit-button-large span {
    display: inline-block;
    margin-top: 85px;
    color: #0a9b50;
}

#employee-list {
    list-style-type: none;
    padding: 0px !important;
    margin: 0px !important;
}

#employee-list li {
    display: none;
}

#loadMore {
    cursor: pointer;
    color: #98999b;
    text-decoration: underline;
}

.news-item {
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid transparent;
}

.news-item:hover {
    border-color: #0a9b4e;
}

.news-item .item-date {
    font-size: 11px;
    margin-top: 13px;

}

.news-item p {
    color: #999999;
}

.remove-button-default {
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: url("../images/icons/i-delete.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.edit-button-default {
    display: block;
    background-image: url("../images/icons/i-edit.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.news-item .remove-button-default, .news-item .edit-button-default {
    margin-top: 25px;
}

.news-item h4 {
    font-size: 16px !important;
}

.update-index {
    display: inline-block;
    color: #999999;
    padding-top: 5px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.table-container {
    overflow-x: scroll;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #b7b7b7;
}

.table-default {
    font-size: 12px;

    border-top-right-radius: 4px;
}

.table-default th {
    background-color: #d7d7d7;
    color: #252d3a;
    font-weight: normal;
    font-size: 11px;
    vertical-align: middle !important;
}

.table-default td {
    background-color: #ffffff;
    vertical-align: middle;
}

.table-default td input[type="text"] {
    height: 28px;
    padding: 4px 12px;
    font-size: 12px;
}

.column-1 {
    width: 50px;
}

a.dotted-link {
    border-bottom: 1px dotted #236e96;
}

.table th.bg-white {
    background-color: #ffffff;
}

.nav.nav-tabs.nav-tabs-inserted {
    border-bottom: none;
}

.nav.nav-tabs.nav-tabs-inserted li a {
    color: #252d3a;
    background-color: #e1e1e1;
    padding: 10px 15px 10px 15px;
    margin-right: 0px;
    border: 0px;
    border-radius: 0px;
}

.nav.nav-tabs.nav-tabs-inserted li.active a, .nav.nav-tabs.nav-tabs-inserted li a:hover, .nav.nav-tabs.nav-tabs-inserted li a:focus, .nav.nav-tabs.nav-tabs-inserted li a:active {
    color: #ffffff;
    background-color: #5b9cbf;

}

.tab-content.tab-content-inserted {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
}

.table-inner-data {
    font-size: 12px;
}

.table-inner-data th {
    background-color: #5b9cbf;
    color: #ffffff;
    font-weight: normal;
    font-size: 11px;
    vertical-align: middle !important;
    border: 1px solid #e9e9e9 !important;
}

.table-inner-data td {
    background-color: #ffffff;
    vertical-align: middle !important;
    border: 1px solid #e9e9e9 !important;
}

.color-green {
    color: #0a9b4e;
}

.regular-task {
    background-color: #5b9cbf !important;
    color: #ffffff;
}

.table-default th .tools-container {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-top: -9px;
    width: 9px;
}

.table-default th.sortable-item {
    padding: 5px 0px 5px 0px;

}

.table-default th.sortable-item span {
}

.thead-container {
    display: table;
    width: 100%;
    height: 30px !important;
}

.thead-index {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.thead-sort {
    height: 30px;
    width: 9px;
    margin-right: 5px;
    float: right;
    box-sizing: border-box;
}

.thead-sort .i-sort-asc {
    float: left;
    margin-top: 7px
}

.thead-sort .i-sort-desc {
    margin-top: 0px;
}

.table .table-counts-index {
    padding-top: 6px;
}

.table-tools-item {
    min-width: 64px;
}

.search-heading {
    background-color: #ffffff !important;
}

.table-icl-container {
    vertical-align: top !important;
}

.fixed-table-item {
    width: 200px;
}

.fixed-table-item-incl {
    width: 199px;
}

.comment-item {
    border-bottom: none !important;
    height: 80px;
    overflow-y: scroll;
    line-height: 135%;
}

.table-included {
    border: 0px;
}

.table-included th {
    border-left: none !important;
    border-right: none !important;
}

.table-incl-last-item {
    border-right: none !important;
}

.table-th-bordered {
    border-right: 1px solid #b7b7b7 !important;
    height: 26px;
    line-height: 24px;
}

.success-cell {
    background-color: #0a9b4e !important;
    color: #ffffff !important;
}

.danger-cell {
    background-color: #e35f39 !important;
    color: #ffffff !important;
}

.attention-cell {
    background-color: #f9e481 !important;
}

.fixed-height-row {
    height: 90px;
}

.add-subtask {
    background-color: #ffffff;
    border: 1px solid #b7b7b7;
    margin-top: -2px;
    padding: 8px;
}

.add-subtask button {
    margin-left: 46px;
}

.btn-inverse {
    border: 1px solid #b7b7b7;
}

.header-search-container .form-control:focus {
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.delete-button {
    background-image: url("../images/icons/i-delete.png");
    background-repeat: no-repeat;
    background-position: right top 7px;
    display: inline-block;
    color: #e35f39;
    padding-right: 28px;
    line-height: 32px;
    visibility: hidden;
    font-size: 13px;
}

label h4 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.report-text {
    color: #777b82;
    font-size: 13px;
}

.mail-item {
    border-bottom: 1px solid #e1e1e1;
    margin-left: -5px;
    margin-right: -5px;
}

.mail-item .checkbox {
    margin-top: 0px;
}

.mail-item p {
    margin-left: 22px;
    font-size: 13px;
}

.mail-item .message-time {
    margin-left: 0px;
    font-size: 12px;
}

.login-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.login-main-container {
    display: table-cell;
    vertical-align: top;
}

.login-container {
    padding-top: 200px;
}

.login-input {
    border: 1px solid #0a9b4e;
    font-size: 15px;
}

.error-data {
    border: 1px solid #ed1c24;
    font-size: 15px;
}

.change-status {
    width: 110px !important;
}

.page-wrapper-print {
    background-color: #ffffff;
    height: 100%;
}

.table .btn-xs {
    padding: 3px 5px;
    border-radius: 0px;
}

.message-item {
    border-bottom: 1px solid #e1e1e1;
    margin-left: -5px;
    margin-right: -5px;
}

.mail-item .checkbox {
    margin-top: 0px;
}

.message-item p {
    font-size: 13px;
}

.mail-item .message-time {
    margin-left: 0px;
    font-size: 12px;
}