<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}СПС {{ settings().companyName }}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets filter='cssrewrite'
            "@bootstrap_css"
            "@jquery_ui_css"
            "@WebSiteBundle/Resources/public/css/icons.css"
            "@WebSiteBundle/Resources/public/css/jquery.bxslider.css"
            "@WebSiteBundle/Resources/public/css/magnific-popup.css"
            "@WebSiteBundle/Resources/public/css/style.css"
            "@WebSiteBundle/Resources/less/style.less"
            "@WebSiteBundle/Resources/public/css/chosen.css"
            "@WebSiteBundle/Resources/public/css/font-awesome.css"
            "@WebSiteBundle/Resources/public/css/jquery.datetimepicker.min.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets ''%}
    </head>
    <body>
        {% block body %}

            <!--Empty modal-->
            <div class="modal fade" id="custom_modal" tabindex="-1" role="dialog" aria-labelledby="custom_modal_label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>

            <!--Confirmation modal-->
            <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Подтвердите действие</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Отменить</button>
                            <button type="button" class="btn btn-danger confirm">Подтвердить</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="main-wrapper">
                <nav class="navbar nav-bar-main navbar-fixed-top">
                    <div class="container-fluid p-l-0 p-r-0">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a href="{{ path('web_site_users_view', {id: app.user.id }) }}" class="navbar-header user-info-container">
                            <table class="user-info-container-content-wrapper">
                                <tr>
                                    <td class="user-info-container-icon-wrapper">
                                        <i class="i-cog"></i>
                                    </td>
                                    <td class="user-info-container-username">
                                        <span>{{ app.user.name }}</span>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <div class="nav-bar-main-index">
                            {% set popUpNotifications = taskPopUpNotifications(app.user) %}
                            {% if popUpNotifications|length > 0 %}
                                <ul class="nav navbar-nav notification-list">
                                    <li>
                                        <div class="item-bullet" id="bullet"></div>
                                        <a class="item-notification" href="#" onclick="shownotificaitons('notifications')"> <i class="i-speaker"></i> <span>уведомления ({{ popUpNotifications|length }})</span></a>
                                    </li>
                                </ul>
                            {% endif %}
                            <ul class="nav navbar-nav pull-right">
                                <li style="padding: 10px; color: gray;">{{ app.user|user_group_roles }}</li>
                            </ul>
                        </div>
                        <div class="notification-container show-container" id="notifications"> <a href="#" class="close-notifications" onclick="hide('notifications')">Закрыть</a>
                            <div class="notification-index">
                                {% include '::popup_notifications.html.twig' with {'tasks': popUpNotifications} %}
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="sidebar-left">
                    <nav>
                        <ul class="nav nav-sysem-vertikal">
                            {% set leftmenu = webSiteBuildLeftMenu() %}
                            {% for item in leftmenu %}
                                <li>
                                    <a href="{{ path(item.route) }}"><i class="{{ item.icon }}"></i>{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="sidebar-calendar-container">
                        <p>
                            <span class="round-blue"></span>
                            Сегодня {{ 'now'|date_intl('EEEE')|capitalize }} <span class="color-blue">{{ 'now'|date_intl('d MMMM') }}</span>
                        </p>
                        <p>
                            {% set meetingDays = calendarNextMeetings() %}

                            {% set nextMeeting = meetingDays|first  %}

                            {% if nextMeeting %}

                                {% if dateDifference('now'|date('Y-m-d'), nextMeeting.date).d > 0 %}
                                    Дней до совещания: <span class="color-green">{{ dateDifference('now'|date('Y-m-d'), nextMeeting.date).d }}</span>
                                {% elseif dateDifference('now', nextMeeting.date).d == 0%}
                                    <span class="round-green"></span> Совещание сегодня
                                {% endif %}
                            {% else %}
                                У вас нет совещаний
                            {% endif %}
                        </p>
                        <div class="p-t-2" id="calendar-datepicker"
                             {% if meetingDays|length %} data-meeting-days='{{ meetingDays|json_encode()  }}' {% endif %}
                        >
                        </div>
                    </div>
                </div>

                <div class="content-layout">
                    <div class="content-container">

                        <div class="header-container">
                            {% if h1 is defined %}
                                <h1>{{ h1 }}</h1>
                            {% endif %}
                        </div>

                        {% block tabs '' %}

                        <div class="tab-content tab-content-default">

                            {% if h3 is defined %}
                                <div class="h3" >{{ h3 }}</div>
                            {% endif %}

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>
                                        {{ flashMessage|trans({}, domain|default('messages')) }}
                                    </p>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>
                                        {{ flashMessage|trans({}, domain|default('messages')) }}
                                    </p>
                                </div>
                            {% endfor %}

                            {% block content ''%}

                        </div>
                    </div>
                </div>

            </div>


        {% endblock %}

        {% javascripts
            "@jquery_js"
            "@jquery_ui_js"
            "@bootstrap_js"
            "@WebSiteBundle/Resources/public/js/jquery.bxslider.min.js"
            "@WebSiteBundle/Resources/public/js/jquery.magnific-popup.min.js"
            "@WebSiteBundle/Resources/public/js/chosen.jquery.js"
            "@WebSiteBundle/Resources/public/js/modal-confirm.js"
            "@WebSiteBundle/Resources/public/js/jquery.datetimepicker.full.js"
            "@WebSiteBundle/Resources/public/js/scripts.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts '' %}

    </body>
</html>
