{% macro echoTaskGroup(tasks, group, title) %}
    {% if attribute(tasks, group) is defined %}
        <p><i class="fa fa-tasks" aria-hidden="true"></i> {{ title }}</p>
        <ul class="list-unstyled">
            {% for task in attribute(tasks, group) %}
                <li>
                    <a href="{{ path('web_site_tasks_viewed', {id: task.id}) }}">
                        #{{ task.id }}.
                        {{ task.text|slice(0,25) }}
                        {% if task.text|length >= 26 %}
                            ...
                        {% endif %}
                    </a>
                    <span class="pull-right">{{ task.status|task_status_colored }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{{ _self.echoTaskGroup(tasks, 'admin', 'ИСПОЛНЕННЫЕ ЗАДАЧИ') }}
{{ _self.echoTaskGroup(tasks, 'mayor', 'ЗАДАЧИ НА УТВЕРЖДЕНИИ') }}
{{ _self.echoTaskGroup(tasks, 'user', 'ВАШИ НОВЫЕ ЗАДАЧИ') }}

