{% if pagination is defined %}

    <div class="tatal-count-wrapper">
        {% if (pagination.TotalItemCount == 0) %}
            <p>Отображено 0</p>
        {% else %}
            {% if (pagination.currentPageNumber * pagination.PaginationData.numItemsPerPage) > pagination.TotalItemCount %}
                {% set lastValue = pagination.TotalItemCount %}
            {% else %}
                {% set lastValue = pagination.currentPageNumber * pagination.PaginationData.numItemsPerPage %}
            {% endif %}

            {% set firstValue = (pagination.currentPageNumber - 1) * pagination.PaginationData.numItemsPerPage + 1 %}

            <p>Отображено {{ firstValue }} - {{ lastValue }} из {{ pagination.TotalItemCount }}</p>
        {% endif %}
    </div>
{% endif %}