{% extends '@WebSite/spsLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li class="active">
                    <a href="{{ path('web_site_settings') }}">Настройки</a>
                </li>
                <li>
                    <a href="{{ path('web_site_settings_work_calendar') }}">Рабочий календарь</a>
                </li>
            </ul>
            <div class="tab-content tab-content-inserted">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}