{% extends '@WebSite/spsLayout.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    "@WebSiteBundle/Resources/less/schedule/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% macro change_prototype(change) %}

    {% if change.vars.value.calendar is defined and change.vars.value.calendar%}
        {% set value = dateDayYear(change.day.vars.value, change.vars.value.calendar.year) %}
    {% else %}
        {% set value = change.day.vars.value %}
    {% endif %}

    <input type="hidden" class="day" data-group="{{ value }}" value="{{ value }}" name="{{ change.day.vars.full_name }}">
    <input type="hidden" class="day-off" data-group="{{ value }}"   value="{{ change.dayOff.vars.value }}" name="{{ change.dayOff.vars.full_name }}">

    {% do change.setRendered() %}
{% endmacro %}

{% block content %}
    <div class="row" id="web-site-schedule">
        <div class="col-xs-12 m-t-2">
            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li>
                    <a href="{{ path('web_site_settings') }}">Настройки</a>
                </li>
                <li  class="active">
                    <a href="{{ path('web_site_settings_work_calendar') }}">Рабочий календарь</a>
                </li>
            </ul>
            <div class="tab-content tab-content-inserted">
                <div class="row">
                    <div class="col-md-3">
                        <a class="prev" href="{{ path('web_site_settings_work_calendar', {year: currentYear - 1 }) }}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            {{ currentYear - 1 }}
                        </a>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-3" style="text-align: right">
                        <a class="next" href="{{ path('web_site_settings_work_calendar', {year: currentYear + 1 }) }}">
                            {{ currentYear + 1 }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <br>

                <div id="datepicker-schedule-group" data-current-year="{{ currentYear }}"></div>
                {{ form_start(form) }}

                <div id="work_calendar_changes" data-prototype="{{ _self.change_prototype(form.changes.vars.prototype)|e }}">
                    {% for change in form.changes %}
                        {{ _self.change_prototype(change) }}
                    {% endfor %}
                </div>

                <br>
                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {% javascripts
    "@WebSiteBundle/Resources/public/js/pages/schedule.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}