{% extends '@WebSite/spsLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}

{% set active_report_tab_route = "web_site_report" %}
{% set h1 = 'Отчет' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    "@WebSiteBundle/Resources/less/report/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            {{ parent() }}
            <div class="tab-content tab-content-inserted">
                <form name="filter_form" id="filter_form" method="get" action="">
                    <div class="row">
                        <div class="col-md-3">
                            {{ filterMacro.add(filters, 't.id', '№ Задачи') }}
                        </div>
                        <div class="col-md-3">
                            {{ filterMacro.add(filters, 'q.id', '№ вопроса') }}
                        </div>
                        <div class="col-md-3">
                            {{ filterMacro.add(filters, 'm.num', '№ совещания') }}
                        </div>
                        <div class="col-md-3">
                            {{ filterMacro.add(filters, 't.status', 'Статус задачи') }}
                        </div>
                    </div>

                    <p>
                        {{ filterMacro.add(filters, 'q.text', 'Вопрос') }}
                    </p>
                    <p>
                        {{ filterMacro.add(filters, 'q.answer', 'Решение') }}
                    </p>
                    <p>
                        {{ filterMacro.add(filters, 'ma.name', 'Мэр') }}
                    </p>
                    <p>
                        {{ filterMacro.add(filters, 'u.name', 'Ответственный') }}
                    </p>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <input type="button" data-action="" value="Применить фильтр" id="filter-form-submit" class="btn btn-primary"/>
                                <input type="button" data-action="" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
                            </p>
                        </div>
                        <div class="col-md-6"  style="text-align: right">
                            <div class="btn-group">
                                <button type="button" id="open-report-print" data-action="{{ path('web_site_reports_print') }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print" aria-hidden="true"></i> Версия для печати
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="report-question-task-list">
                        {% for task in pagination %}
                            <div class="report-question-task-row">
                                <div class="report-task-title">
                                    <strong><a href="{{ path('web_site_tasks_view', {id:task.id}) }}">#{{ task.id }}</a>. {{ task.typeName }}</strong>: {{ task.text }}
                                    <span class="pull-right">
                                        {{ task.status|task_status_label }}
                                    </span>
                                </div>

                                <div class="report-task-content-wrapper">

                                    <div class="row">
                                        <div class="col-md-2">
                                            Срок исполнения
                                        </div>
                                        <div class="col-md-10">
                                            {{ task.deadlineDatetime|date('d.m.Y H:i') }}
                                            {{ task.deadlineDatetime|task_deadline_interval_formatted }} {{ task|task_repeat_period }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    Вопрос <a href="{{ path('web_site_questions_view', {id: task.question.id}) }}">#{{ task.question.id }}</a>
                                                </div>
                                                <div class="col-md-10">
                                                    {{ task.question.text }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    Совещание <a href="{{ path('web_site_meetings_view', {id: task.question.meeting.id}) }}"> №{{task.question.meeting.num }}</a>
                                                </div>
                                                <div class="col-md-8">
                                                    Дата совещания: {{ task.question.meeting.datetime|date('d.m.Y H:i') }}
                                                </div>
                                            </div>

                                            {% if task.question.description != '' %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Пояснение к решению:  {{ task.question.description }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if task.question.answer != '' %}
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        Решение
                                                    </div>
                                                    <div class="col-md-10">
                                                        {{ task.question.answer }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4 user">
                                                    Ответственный
                                                </div>
                                                <div class="col-md-8">
                                                    {{ task.user.name }}
                                                    <div class="position">({{ task.user|user_position }})</div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4 mayor">
                                                    Мэр
                                                </div>
                                                <div class="col-md-8">
                                                    {{ task.question.mayor.name }}
                                                    <div class="position"> ({{ task.question.mayor |user_position }})</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if task.comments|length %}
                                        <div class="report-task-comments-wrapper">
                                            <table class="report-task-comments">
                                                {% for log in task.comments %}
                                                    <tr>
                                                        <td>{{ log.datetime|date('d.m.Y H:i') }}</td>
                                                        <td>{{ log.user.name }}</td>
                                                        <td>{{ log.text }}</td>
                                                        <td></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </form>
                <br>
                {% include '::total.count.html.twig' %}
                {{ knp_pagination_render(pagination) }}

            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}
    {{ filterMacro.datepicker_js() }}
    <script>
        var $form = $('#filter_form');

        function setFormAction(href)
        {
            $form.attr('action', href)
        }

        $('#open-report-print').click(function(){
            setFormAction($(this).data('action'));
            $form.attr('target','_blank');
            $form.submit();
        });

        $('#filter-form-submit').click(function(){
            setFormAction($(this).data('action'));
            $form.attr('target', null);
            $form.submit();
        });

        $('#filter_clear').click(function(){
            setFormAction($(this).data('action'));
            $('input[type=text]', $form).val('');
            $('select', $form).val('');
            $form.attr('target', null);
            $form.submit();
        });

    </script>
{% endblock %}