<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}СПС {{ settings().companyName }}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% stylesheets filter='cssrewrite'
        "@bootstrap_css"
        "@WebSiteBundle/Resources/less/report/print.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets ''%}
</head>
<body>
    <div id="report-print" class="container-fluid">
        {% for task in pagination %}
            <div class="report-row">
                <strong>#{{ task.id }}. {{ task.typeName }}</strong>: {{ task.text }}
                <span class="pull-right">
                    {{ task.status|task_status_label }}
                </span>
                <div class="row">
                    <div class="col-md-8 col-xs-7">
                        <div class="row">
                            <div class="col-md-4 col-xs-5">
                                Срок исполнения
                            </div>
                            <div class="col-md-8 col-xs-7">
                                {{ task.deadlineDatetime|date('d.m.Y H:i') }}
                                {{ task.deadlineDatetime|task_deadline_interval_string }}
                                {{ task|task_repeat_period('string') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-5">
                                Совещание
                            </div>
                            <div class="col-md-8 col-xs-7">
                                № {{task.question.meeting.num }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-5">
                                Дата совещания:
                            </div>
                            <div class="col-md-8 col-xs-7">
                                {{ task.question.meeting.datetime|date('d.m.Y H:i') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-5">
                                Вопрос
                            </div>
                            <div class="col-md-8 col-xs-7">
                                # {{ task.question.id }}
                            </div>
                        </div>
                        <div>
                            {{ task.question.text }}
                        </div>
                        {% if task.question.description != '' %}
                            <div class="row">
                                <div class="col-md-2 col-xs-3">
                                    Пояснение к решению
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    {{task.question.description}}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-md-4 col-xs-5">
                        <div>
                            Ответственный
                        </div>
                        <div>
                            {{ task.user.name }}
                        </div>
                        <div class="position" style="padding-bottom: 5px;">
                            ({{ task.user|user_position }})
                        </div>
                        <div>
                            Мэр
                        </div>
                        <div>
                            {{ task.question.mayor.name }}
                        </div>
                        <div class="position">
                            ({{ task.question.mayor|user_position }})
                        </div>
                    </div>
                </div>

                {% if task.question.answer != ''%}
                    <div>
                        Решение: {{ task.question.answer }}
                    </div>
                {% endif %}

                {% if task.comments|length %}
                    <strong>Комментарии:</strong>
                    <div class="comments-list-wrapper">
                        <table class="comments-list">
                            {% for log in task.comments %}
                                <tr>
                                    <td>{{ log.datetime|date('d.m.Y H:i') }}</td>
                                    <td>{{ log.user.name }}</td>
                                    <td>{{ log.text }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script>
        window.print() ;
    </script>
</body>
</html>
