#report-print{
  .report-row{
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
    &:last-child{
      border-bottom: none;
    }
    .comments-list-wrapper{
      margin-left: 10px;
      margin-top: 5px;
      .comments-list{
        td{
          padding: 1px 10px 1px 0px;
        }
      }
    }
  }
  .position{
    font-size: 11px;
  }
}