@import '/../variables';

#filter_form{
  margin-top: 10px;
}

#report-question-task-list{
  .report-question-task-row{
    border-bottom: 1px dashed lightgrey;
    padding: 10px 10px;
    &:nth-child(2n){
      background-color: #f0f0f0;
    }
    &:last-child{
      border-bottom: none;
    }

    .report-task-title{
      padding-bottom: 10px;
    }
    .report-task-content-wrapper{
      padding-left: 20px;
      .report-task-comments-wrapper{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        &:before {
          content: "\e111";
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          position: absolute;
          left: 40px;
          margin-top: 2px;
          color: #424242;
        }
        .report-task-comments{
          width: 100%;
          tr {
            color: #424242;
            td:first-child {
              width: 10%;
            }
            td:nth-child(2) {
              width: 20%;
            }
            &:nth-child(2n) {
              color: #848484;
            }
          }
        }
      }
      .user,
      .mayor{
        color: grey;
      }
      .position{
        color: #5b5b5b;
        font-size: 12px;
      }
    }
  }
}