.i-case {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-case.png");
    width: 18px;
    height: 16px;
}
.nav-sysem-vertikal li a .i-case {
    margin-top: 2px;
}
.nav-sysem-vertikal li a:hover .i-case, .nav-sysem-vertikal li a:active .i-case, .nav-sysem-vertikal li a:focus .i-case, .nav-sysem-vertikal li.active a .i-case {
    background-image: url("/bundles/website/images/icons/i-case-hover.png");
}
.i-envelope {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-envelope.png");
    width: 18px;
    height: 13px;
}
.nav-sysem-vertikal li a .i-envelope {
    margin-top: 4px;
}
.nav-sysem-vertikal li a:hover .i-envelope, .nav-sysem-vertikal li a:active .i-envelope, .nav-sysem-vertikal li a:focus .i-envelope, .nav-sysem-vertikal li.active a .i-envelope {
    background-image: url("/bundles/website/images/icons/i-envelope-hover.png");
}
.i-main {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-main.png");
    width: 18px;
    height: 18px;
}
.nav-sysem-vertikal li a .i-main {
    margin-top: 2px;
}
.nav-sysem-vertikal li a:hover .i-main, .nav-sysem-vertikal li a:active .i-main, .nav-sysem-vertikal li a:focus .i-main, .nav-sysem-vertikal li.active a .i-main {
    background-image: url("/bundles/website/images/icons/i-main-hover.png");
}
.i-microfone {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-microfone.png");
    width: 18px;
    height: 25px;
}
.nav-sysem-vertikal li a:hover .i-microfone, .nav-sysem-vertikal li a:active .i-microfone, .nav-sysem-vertikal li a:focus .i-microfone, .nav-sysem-vertikal li.active a .i-microfone {
    background-image: url("/bundles/website/images/icons/i-microfone-hover.png");
}
.i-pensil {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-pensil.png");
    width: 18px;
    height: 17px;
}
.nav-sysem-vertikal li a:hover .i-pensil, .nav-sysem-vertikal li a:active .i-pensil, .nav-sysem-vertikal li a:focus .i-pensil, .nav-sysem-vertikal li.active a .i-pensil {
    background-image: url("/bundles/website/images/icons/i-pensil-hover.png");
}

.i-user {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-user.png");
    width: 18px;
    height: 18px;
}
.nav-sysem-vertikal li a:hover .i-user, .nav-sysem-vertikal li a:active .i-user, .nav-sysem-vertikal li a:focus .i-user, .nav-sysem-vertikal li.active a .i-user {
    background-image: url("/bundles/website/images/icons/i-user-hover.png");
}

.i-phone {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-phone.png");
    width: 18px;
    height: 18px;
}
.nav-sysem-vertikal li a:hover .i-phone, .nav-sysem-vertikal li a:active .i-phone, .nav-sysem-vertikal li a:focus .i-phone, .nav-sysem-vertikal li.active a .i-phone {
    background-image: url("/bundles/website/images/icons/i-phone-hover.png");
}

.i-cog {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-cog.png");
    width: 18px;
    height: 18px;
}

.i-speaker {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-speaker.png");
    width: 18px;
    height: 17px;
}
.notification-list li a:hover .i-speaker, .notification-list li a:focus .i-speaker, .notification-list li a:active .i-speaker {
    background-image: url("/bundles/website/images/icons/i-speaker-active.png");
}
.notification-list li a .i-speaker {
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}

.i-search {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-loupe.png");
    width: 18px;
    height: 18px;
}
.i-more-info {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-more-info.png");
    width: 18px;
    height: 22px;
}
.i-edit {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-edit.png");
    width: 18px;
    height: 18px;
}
.i-delete {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-delete.png");
    width: 18px;
    height: 18px;
}
.i-sort-asc {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-sort-asc.png");
    width: 9px;
    height: 6px;
}
.i-sort-desc {
    display: inline-block;
    background-image: url("/bundles/website/images/icons/i-sort-desc.png");
    width: 9px;
    height: 6px;
}