{% extends '@WebSite/spsLayout.html.twig' %}
{% form_theme form _self %}
{% block _task_create_users_widget %}
    {{ form_widget(form) }}
    <p class="help-block">
        <span class="glyphicon glyphicon-warning-sign"></span>
        Для каждого ответсвенного будет создана отдельная задача
    </p>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">
                {{ form_start(form) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.users) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.type) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.deadlineDatetime) }}
                        </div>
                    </div>

                    <div id="repeat-task-fields" class="hidden">
                        <div class="row">
                            <div class="col-md-2">
                                Повторять через
                            </div>
                            <div class="col-md-2">
                                {{form_widget(form.period) }}
                            </div>
                            <div class="col-md-2">
                                {{form_widget(form.periodType) }}
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-success" type="submit">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function taskTypeRender()
        {
            var value = $('[name="task_create[type]"]:checked').val();

            if (value == '{{ constant('\\CommonBundle\\Entity\\Task::TASK_TYPE_FINITE') }}') {

                $('#repeat-task-fields').addClass('hidden');
                $('#task_create_period').attr('required', null);
                $('#task_create_periodType').attr('required', null);

            } else if(value == '{{ constant('\\CommonBundle\\Entity\\Task::TASK_TYPE_REPEAT') }}') {

                $('#repeat-task-fields').removeClass('hidden');
                $('#task_create_period').attr('required', 'required');
                $('#task_create_periodType').attr('required', 'required');
            }
        }

        $(document).ready(function() {
            $('#task_create_users').chosen();
            $('[name="task_create[type]"]').change(taskTypeRender);
            taskTypeRender();
        })
    </script>
{% endblock %}
