{% extends '@WebSite/spsLayout.html.twig' %}

{% set active_tab_route = 'web_site_meetings_list' %}
{% if question.id is defined %}
    {% set h3 = 'Вопрос #' ~ question.id ~ '.' %}
{% else %}
    {% set h3 = 'Добавление вопроса.' %}
{% endif %}

{% macro task_prototype(task) %}
    <div class="panel panel-default task-row" id="{{ task.vars.id }}" data-index="{{ task.vars.name }}">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label required" for="question_tasksPlaned_{{ task.text.vars.name }}_text">Задача
                        {% if  task.vars.data.id is defined%}
                            #{{ task.vars.data.id  }}
                        {% endif %}
                    </label>
                    <div class="form-group {% if not task.text.vars.valid %} has-error {% endif %}">
                        {{ form_widget(task.text) }}
                        {{ form_errors(task.text) }}
                    </div>
                    <div class="form-group {% if not task.users.vars.valid %} has-error {% endif %}">
                        {{ form_row(task.users) }}
                    </div>
                    <p class="help-block">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        Для каждого ответсвенного будет создана отдельная задача.
                    </p>
                </div>
                <div class="col-md-6">
                    {{ form_row(task.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="taskPlanedType">
                        {{ form_row(task.type) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_row(task.deadlineDatetime) }}
                </div>
            </div>
            <div class="repeatTaskFields hidden">
                <div class="row">
                    <div class="col-md-2">
                        Повторять через
                    </div>
                    <div class="col-md-2">
                        {{form_widget(task.period) }}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(task.periodType) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <a href="#" data-target="#{{ task.vars.id }}" class="question-task-remove-button">
                        <span class="glyphicon glyphicon-trash"></span> удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro file_prototype(file) %}
    <div class="new-file-row" id="{{ file.vars.id }}_row">
        <div class="row" >
            <div class="col-md-10">
                <div class="form-group  {% if file.vars.valid != true %} has-error{% endif %}">
                    {{ form_errors(file) }}
                    {{ form_widget(file) }}
                </div>
            </div>
            <div class="col-md-2">
                <span data-target="#{{ file.vars.id }}_row" class="glyphicon glyphicon-remove remove-new-file a"></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            <ul class="nav nav-tabs nav-tabs-inserted">
                <li>
                    <a href="{{ path('web_site_meetings_view', {id:meeting.id}) }}">Совещание</a>
                </li>
                <li>
                    <a href="{{ path('web_site_meetings_questions', {id:meeting.id}) }}">Вопросы</a>
                </li>
                <li>
                    {% if is_granted('ROLE_ADMIN') and meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED') %}
                        <a href="{{ path('web_site_meetings_edit_members', {id:meeting.id}) }}">Присутствующие</a>
                    {% else %}
                        <a href="{{ path('web_site_meetings_view_members', {id:meeting.id}) }}">Присутствующие</a>
                    {% endif %}
                </li>
                {% if question.id  is defined %}
                <li class="active">
                    <a href="#">
                        Вопрос # {{ question.id }}
                    </a>
                </li>
                {% endif %}
            </ul>

            {{ form_start(form) }}
                <div class="tab-content tab-content-inserted">

                    {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                            <strong>Форма не прошла валидацию</strong>
                        </div>
                        {{ form_errors(form) }}
                    {% endif %}

                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ form_row(form.text) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.users) }}
                                </div>
                            </div>

                            {{ form_row(form.answer) }}
                            {{ form_row(form.description) }}

                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <strong>Файлы</strong>
                                    {% if form.vars.value and form.vars.value.files|length > 0%}
                                        <br>
                                        <ul class="list-unstyled">
                                            {% for file in form.vars.value.files %}
                                                <li id="file-{{ file.id }}">
                                                    {{ file|file_icon_link }}
                                                    <span
                                                        data-target="#file-{{ file.id }}"
                                                        data-id="{{ file.id }}"
                                                        data-index="{{ loop.index -1 }}"
                                                        class="a glyphicon glyphicon-remove file-remove"></span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <div id="add-file-list" data-prototype="{{ _self.file_prototype(form.addFiles.vars.prototype)|e }}">
                                        {% for addFiles in form.addFiles %}
                                            {{ _self.file_prototype(addFiles) }}
                                        {% endfor %}
                                    </div>
                                    <div id="delete-files-list" data-prototype="{{ form_widget(form.deleteFiles.vars.prototype)|e }}">  </div>
                                </div>
                            </div>
                            <div style="text-align: right; padding: 10px;">
                                <button data-target-question="{{ form.vars.id }}" data-target="#{{ form.vars.id }}_file_list" type="button" class="btn btn-sm btn-default" id="add-file">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Добавить файл
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="h4">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    ЗАДАЧИ
                </div>
                <div id="task-list" data-prototype="{{ _self.task_prototype(form.tasksPlaned.vars.prototype)|e }}">
                    {% for task in form.tasksPlaned %}
                        {{ _self.task_prototype(task) }}
                    {% endfor %}
                </div>
                <p>
                    <button type="button" class="btn btn-default" id="add-task">Добавить задачу</button>
                </p>

                <div class="h4">
                    Мэр
                </div>
                <div class="tab-content tab-content-inserted">
                    {{ form_row(form.mayor) }}
                </div>

                <hr>
                <div style="text-align: right">
                    <button class="btn btn-success"  type="submit">Сохранить</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        var taskCount = '{{ form.tasksPlaned|length }}';

        var $questionUsers = $('#question_users') ;

        var $taskList = $('#task-list');
        var $deleteFileList = $('#delete-files-list');
        var $addFileList = $('#add-file-list');
        var $questionMayor = $('#question_mayor');
        var questionMayorPlaceholder = $('option[value=""]', $questionMayor).html();

        function taskUsersRender(chosenElement)
        {
            if(chosenElement == undefined) {

                $(".chosen", $taskList).change(questionMayorRender).chosen();
            } else {

                $(chosenElement).change(questionMayorRender).chosen();
            }

            $('.question-task-remove-button', $taskList)
                    .unbind()
                    .click(function(){
                        $($(this).data('target')).remove();

                        questionMayorRender();

                        return false;
                    })
        }

        function taskPlanedTypeRender(taskRows)
        {
            if (taskRows == undefined) {
                taskRows = $('.task-row', $taskList);
            }

            taskRows.each(function(num, rowElement){
                var $rowElement = $(rowElement);
                var indexRow = $rowElement.data('index');
                var $periodTypeElement = $('#question_tasksPlaned_' + indexRow + '_periodType');
                var $periodElement = $('#question_tasksPlaned_' +  indexRow + '_period');
                var $typeElement = $('[name="question[tasksPlaned][' +indexRow+ '][type]"]');
                var value = $('[name="question[tasksPlaned][' +indexRow+ '][type]"]:checked').val();

                $($typeElement)
                    .unbind()
                    .change(function(){
                        taskPlanedTypeRender();
                    });

                if( value == '{{ constant('\\CommonBundle\\Entity\\TaskPlaned::TASK_PLANED_TYPE_REPEAT') }}') {
                    $rowElement.find('.repeatTaskFields').removeClass('hidden');
                    $periodTypeElement.prop('required', true);
                    $periodElement.prop('required', true);
                } else {
                    $rowElement.find('.repeatTaskFields').addClass('hidden');
                    $periodTypeElement.prop('required', false);
                    $periodElement.prop('required', false);
                }

            });
        }

        function questionMayorRender() {

            var questionMayorValue = $questionMayor.val();


            $questionMayor.html('<option value>' + questionMayorPlaceholder + '</option>');

            //add question users
            $('option:selected', $questionUsers).each(function(userOptionNum, userOption){
                var $userOption = $(userOption);
                addQuestionMayor($userOption.attr('value'), $userOption.html())
            });

            //add task users
            $('.question-users option:selected').each(function(userOptionNum, userOption){
                var $userOption = $(userOption);
                addQuestionMayor($userOption.attr('value'), $userOption.html())
            });

            //set selected to current mayor
            if ($('option[value="' + questionMayorValue + '"]', $questionMayor).length > 0) {
                $questionMayor.val(questionMayorValue);
            } else {
                $questionMayor.val(null);
            }
        }

        function addQuestionMayor(value, html) {
            var mayorOptionElement = $('option[value="' + value +'"]', $questionMayor);

            if (mayorOptionElement.length == 0) {
                $('<option>')
                    .val(value)
                    .html(html)
                    .appendTo($questionMayor)
                ;
            }
        }

        function questionAddFileRender()
        {
            $('#add-file').click(function(){
                var newWidget = $addFileList.data('prototype');
                var filesCount = $('.new-file-row', $addFileList).length;

                newWidget = newWidget
                        .replace(/__name__/g, filesCount);

                $addFileList.append(newWidget);

                questionRemoveNewFileRender();
            });
        }


        function questionRemoveNewFileRender()
        {
            $('.remove-new-file')
                .unbind()
                .click(function(){
                    $($(this).data('target')).remove();
                })
        }

        (function($) {
            $('.file-remove').click(function(){

                var $target = $($(this).data('target'));
                var newWidget = $deleteFileList.data('prototype');
                var index = $(this).data('index');
                var id = $(this).data('id');

                newWidget = newWidget.replace(/__name__/g, index);
                $deleteFileList.append(newWidget);

                var $targetWidget = $('#question_deleteFiles_' + index);

                $targetWidget.val(id);

                $target.remove();
            });

            $('#add-task').click(function(e) {

                var newWidget = $taskList.data('prototype');

                newWidget = newWidget
                        .replace(/__name__label__/g, 'Задача ' + (parseInt(taskCount) + 1) )
                        .replace(/__name__/g, taskCount);

                $taskList.append(newWidget);

                taskUsersRender($('#question_tasksPlaned_' + (taskCount) + ' .chosen'));
                dateTimePickerInit();
                taskPlanedTypeRender($('#question_tasksPlaned_' + taskCount));

                taskCount++;
            });

            taskUsersRender();
            taskPlanedTypeRender();
            questionAddFileRender();
            questionRemoveNewFileRender();
            questionMayorRender();

            $('#question_users.chosen').chosen().change( function(){
                questionMayorRender();
            });
        })(jQuery);

    </script>

{% endblock %}