{% extends '@WebSite/Question/listLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}

{% set active_content_tab_route = 'web_site_questions_by_question_list' %}
{% set h1 = 'Список решений' %}
{% set h3 = 'По задачам' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li>
                    <a href="{{ path('web_site_questions_by_question_list') }}">По вопросам совещания</a>
                </li>
                <li class="active">
                    <a href="{{ path('web_site_questions_by_task_list') }}">По задачам</a>
                </li>
            </ul>
        <div class="tab-content tab-content-inserted">
            <form name="filter_form" id="filter_form" method="get" action="">
                <p>
                    <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
                    <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
                </p>
                <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                    <thead>
                        <tr>
                            <th class="text-center th-sortable td-task-id">{{ knp_pagination_sortable(pagination, '№ з', 't.id') }}</th>
                            <th class="text-center th-sortable td-question-id">{{ knp_pagination_sortable(pagination, '№ в', 'q.id') }}</th>
                            <th class="text-center th-sortable td-meeting-num">{{ knp_pagination_sortable(pagination, '№ с', 'm.num') }}</th>
                            <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Дата исполнения', 't.deadline_datetime') }}</th>
                            <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Ответственный', 'u.name') }}</th>
                            <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Задача', 't.question_id') }}</th>
                            <th class="text-center th-sortable">Решение по вопросу</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ filterMacro.add(filters, 't.id', '№ здч') }}</td>
                            <td>{{ filterMacro.add(filters, 'q.id', '№ в') }}</td>
                            <td>{{ filterMacro.add(filters, 'm.num', '№ сов') }}</td>
                            <td>{{ filterMacro.datepicker(filters, 't.deadline_datetime', 'Дата исполнения') }}</td>
                            <td>{{ filterMacro.add(filters, 'u.name', 'Ответственный') }}</td>
                            <td>{{ filterMacro.add(filters, 't.text', 'Задача') }}</td>
                            <td>{{ filterMacro.add(filters, 'q.answer', 'Решение по вопросу') }}</td>
                            <td></td>
                        </tr>
                        {% for task in pagination %}
                            <tr>
                                <td class="text-center">
                                    <a title="№ задачи" href="{{ path('web_site_tasks_view', {id: task.id}) }}">{{ task.id }}</a>
                                </td>
                                <td class="text-center">
                                    <a title="№ вопроса" href="{{ path('web_site_questions_view', {id: task.question_id}) }}">{{ task.question_id }}</a>
                                </td>
                                <td class="text-center">
                                    <a title="№ совещания" href="{{ path('web_site_meetings_view', {id: task.question_meeting_id}) }}">{{ task.meeting_num }}</a>
                                </td>
                                <td class="text-center">
                                    <div>
                                        {{ task.deadline_datetime|date('d.m.Y H:i') }}
                                        {{ date(task.deadline_datetime)|task_deadline_interval_formatted(task.status) }}
                                    </div>
                                    <div>
                                        {{ task|task_repeat_period }}
                                    </div>
                                </td>
                                <td class="text-center">
                                    {{ task.user_name|string_user_name(task.user_id, true) }}
                                </td>
                                <td class="text-center">
                                    {{ task.text }}
                                </td>
                                <td class="text-center">
                                    {{ task.question_answer }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <br>
            {% include '::total.count.html.twig' %}
            {{ knp_pagination_render(pagination) }}

            <hr> 
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ filterMacro.clear_js() }}
    {{ filterMacro.datepicker_js() }}
{% endblock %}