{% extends '@WebSite/Question/listLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}

{% set h1 = 'Список решений' %}
{% set h3 = 'По вопросам совещаний' %}
{% set active_content_tab_route = 'web_site_questions_by_question_list' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li class="active">
                    <a href="{{ path('web_site_questions_by_question_list') }}">По вопросам совещания</a>
                </li>
                <li>
                    <a href="{{ path('web_site_questions_by_task_list') }}">По задачам</a>
                </li>
            </ul>
        <div class="tab-content tab-content-inserted">
            <form name="filter_form" id="filter_form" method="get" action="">
                <p>
                    <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
                    <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
                </p>
                <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                    <thead>
                        <tr>
                            <th class="text-center th-sortable td-question-id">{{ knp_pagination_sortable(pagination, '№ в', 'q.id') }}</th>
                            <th class="text-center th-sortable td-meeting-num">{{ knp_pagination_sortable(pagination, '№ с', 'm.num') }}</th>
                            <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Дата совещания', 'm.datetime') }}</th>
                            <th class="text-center">Вопрос</th>
                            <th class="text-center">Решение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ filterMacro.add(filters, 'q.id', '№') }}</td>
                            <td>{{ filterMacro.add(filters, 'm.num', '№') }}</td>
                            <td>{{ filterMacro.datepicker(filters, 'm.datetime', 'Дата совещания') }}</td>
                            <td>{{ filterMacro.add(filters, 'q.text', 'Вопрос') }}</td>
                            <td>{{ filterMacro.add(filters, 'q.answer', 'Решение') }}</td>
                        </tr>
                        {% for question in pagination %}
                            <tr>
                                <td class="text-center">
                                    <a title="№ вопроса" href="{{ path('web_site_questions_view', {id:question.id}) }}">{{ question.id }}</a>
                                </td>
                                <td class="text-center">
                                   <a title="№ совещания" href="{{ path('web_site_meetings_view', {'id' : question.meeting_id } ) }}">{{ question.meeting_num }}</a>
                                </td>
                                <td class="text-center">
                                    {{ question.meeting_datetime|date('d.m.Y') }}
                                </td>
                                <td class="text-center">
                                    {{ question.text }}
                                </td>
                                <td class="text-center">
                                    {{ question.answer }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <br>
            {% include '::total.count.html.twig' %}
            {{ knp_pagination_render(pagination) }}

            {% if is_granted('ROLE_ADMIN') == false %}
                <hr>
                <p class="help-block">
                    * Решения сощаний в которых вы "секретарь", "мэр", "председатель" или "участник". <br>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ filterMacro.clear_js() }}
    {{ filterMacro.datepicker_js() }}
{% endblock %}