{% extends '@WebSite/spsLayout.html.twig' %}
{% import "@WebSite/Task/macros/log.html.twig" as logMacro %}

{% set h1 = 'Вопрос #' ~ question.id %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
        "@WebSiteBundle/Resources/less/task/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            <div class="tab-content tab-content-inserted">
                {% if question.text != '' %}
                    <div class="row">
                        <div class="col-md-2">
                            Вопрос:
                        </div>
                        <div class="col-md-10">
                            {{ question.text }}
                        </div>
                    </div>
                {% endif %}


                {% if question.users |length %}
                    <div class="row">
                        <div class="col-md-2">
                            Докладчики:
                        </div>
                        <div class="col-md-10">
                            <ul class="list-unstyled">
                                {% for user in question.users %}
                                    <li style="padding-left: 10px;"> <a href="{{ path('web_site_users_view', {id: user.id})}}">{{ user|user_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if question.description != '' %}
                    <div class="row">
                        <div class="col-md-2">
                            Пояснения к вопросу:
                        </div>
                        <div class="col-md-10">
                            {{ question.description }}
                        </div>
                    </div>
                {% endif %}

                {% if question.answer != '' %}
                    <div class="row">
                        <div class="col-md-2">
                            Решения:
                        </div>
                        <div class="col-md-10">
                            {{ question.answer }}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-2">
                        Статус совещания:
                    </div>
                    <div class="col-md-10">
                        {{ question.meeting.status|meeting_status_label }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        № совещания:
                    </div>
                    <div class="col-md-10">
                        <a href="{{ path('web_site_meetings_view', {id: question.meeting.id}) }}">
                            {{ question.meeting|meeting_number_or_date }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Дата совещания:
                    </div>
                    <div class="col-md-10">
                        {{ question.meeting.datetime|date('d.m.Y H:i') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        Мэр:
                    </div>
                    <div class="col-md-10">
                        {% if question.mayor.id is defined %}
                            <a href="{{ path('web_site_users_view', {id: question.mayor.id}) }}">{{ question.mayor|user_name  }}</a>
                        {% endif %}
                    </div>
                </div>

                <hr>
                <div class="h4">
                    <span class="glyphicon glyphicon-list-alt"></span>  ЗАДАЧИ
                </div>
                {% if question.meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-9">
                                <a class="btn btn-success full-width-button" href="{{ path('web_site_questions_create_task', {id: question.id })}}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Создать задачу
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <br>

                    <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    № задачи
                                </th>
                                <th class="text-center">
                                    Задача
                                </th>
                                <th>
                                    Срок исполнения
                                </th>
                                <th class="text-center">
                                    Ответственный
                                </th>
                                <th class="text-center">
                                    Статус
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if question.tasks|length %}
                                {% for task in question.tasks %}
                                    <tr>
                                        <td class="text-center">
                                            <a title="Номер задачи" href="{{ path('web_site_tasks_view',{id:task.id}) }}">{{ task.id }}</a>
                                        </td>
                                        <td class="text-center">
                                            {{ task.text }}
                                        </td>
                                        <td>
                                            {{ task.deadLineDatetime|date('d.m.Y H:i') }}
                                            {{ task.deadLineDatetime|task_deadline_interval_formatted(task.status) }}
                                            {{ task|task_repeat_period }}
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ path('web_site_users_view', {id: task.user.id}) }}">{{task.user|user_name }}</a>
                                        </td>
                                        <td class="text-center">
                                            {{ task.status|task_status_colored }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="bg-info" colspan="5" style="text-align: center">
                                        <p>Нет назначенных задач</p>
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        Список задач доступен только для вопросов закрытых совещаний.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">
                <div class="h4"><i class="fa fa-history" aria-hidden="true"></i> История</div>
                <p class="help-block">
                    <span class="glyphicon glyphicon-warning-sign"></span> Вы можете создать комментарий из карточки задачи
                </p>
                {{ logMacro.echoQuestionLog(log) }}
            </div>
        </div>
    </div>

{% endblock %}