#web-site-calendar-index{
  #datepicker-calendar-group {
    width: 100%;
    .ui-datepicker-multi,
    .ui-widget-content{
      display: block;
      width: 100%;
    }

    .ui-widget-content{
      border: none;
    }
    .ui-datepicker-group {
      width: 33.3%;
      &:nth-child(4),
      &:nth-child(7),
      &:nth-child(10){
         clear: left;
      }
    }
    .ui-datepicker-prev,
    .ui-datepicker-next{
      display: none;
    }

    .popover{
      width: 300px;
      .brace{
        width: 300px;
      }
      .a{
        text-decoration: underline;
        cursor: pointer;
        display: inline!important;
        &:hover{
          text-decoration: none;
          background: none;
          border: none;
        }
      }
      span{
        display: inline;
      }
    }
  }


  .prev,
  .next{
    .glyphicon{
      font-size: 12px;
    }
    font-size: 15px;
  }
}
