{% extends '@WebSite/userTaskLayout.html.twig' %}


{% block content %}
    <div class="tab-pane active">
        <div class="row">
            <div class="col-xs-8">
                <table class="table table-responsive table-bordered table-default">
                    <thead>
                    <tr>
                        <th class="text-center column-1">№</th>
                        <th class="text-center">Ответственный</th>
                        <th class="text-center">Задача</th>
                        <th class="text-center">Пояснение</th>
                        <th colspan="2" class="text-center">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td class="text-center"><a class="i-search" href="#"></a></td>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    <tr>
                        <td class="text-center">6</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    <tr>
                        <td class="text-center">7</td>
                        <td class="text-center">Кочергин И.С.</td>
                        <td class="text-center">Заполнить документы</td>
                        <td class="text-center">Качественно</td>
                        <td colspan="2" class="text-center color-green">Выполнена</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
