{% extends '@WebSite/userTaskLayout.html.twig' %}

{% block content %}
    <div class="tab-pane active">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed table-responsive m-b-0 table-bordered table-default">
                    <thead>
                        <tr>
                            <th width="144" class="search-heading text-center column-1">
                                <input type="text" class="form-control" title="">
                            </th>
                            <th width="415" class="search-heading">
                                <input type="text" class="form-control" title="">
                            </th>
                            <th width="227" class="search-heading fixed-table-item">
                                <input type="text" class="form-control" title="">
                            </th>
                            <th width="227" class="search-heading fixed-table-item">
                                <input type="text" class="form-control" title="">
                            </th>
                            <th width="144" class="search-heading">
                                <input type="text" class="form-control pull-left" title="">
                            </th>
                            <th width="17" class="search-heading">
                                <a href="#" class="i-search pull-right"></a>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center column-1">№</th>
                            <th class="text-center">Задача</th>
                            <th class="text-center">Пояснение</th>
                            <th class="text-center">Сроки</th>
                            <th colspan="2" class="text-center">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="3" class="text-center">836</td>
                        <td>Описание задачи</td>
                        <td>Пояснение задачи</td>
                        <td>22.09.2016</td>
                        <td class="text-center" colspan="2" rowspan="3">
                            <div class="change-status">В работе</div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="p-a-0">
                            <table class="table table-condensed table-responsive m-b-0 table-bordered table-default table-included">
                                <thead>
                                <tr>
                                    <th colspan="3" class="text-center p-a-0"> <div class="table-th-bordered">Решение</div>
                                    </th>
                                    <th colspan="4" class="text-center">&nbsp;</th>
                                </tr>
                                <tr>
                                    <th class="text-center column-1 p-a-0">
                                        <div class="table-th-bordered">№</div>
                                    </th>
                                    <th class="text-center column-1 p-a-0">
                                        <div class="table-th-bordered">Мэр</div>
                                    </th>
                                    <th class="text-center p-a-0">
                                        <div class="table-th-bordered">Участники</div>
                                    </th>
                                    <th class="text-center p-a-0">
                                        <div class="table-th-bordered">Подзадача</div>
                                    </th>
                                    <th class="text-center p-a-0">
                                        <div class="table-th-bordered">Срок</div>
                                    </th>
                                    <th colspan="2" class="text-center">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2" class="text-center fixed-height-row">836/1</td>
                                    <td rowspan="2" class="text-center attention-cell">Мэр</td>
                                    <td rowspan="2">Белякова Валентина Сергеевна</td>
                                    <td rowspan="2">Сделать рассылку по кандидатам</td>
                                    <td>22.09.2016</td>
                                    <td colspan="2" rowspan="2" class="table-incl-last-item">
                                        <div class="change-status">В работе</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center danger-cell p-a-0">
                                        <button class="btn btn-danger btn-xs full-width-button">
                                            Изменить<br>срок<br>задачи
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="2" class="p-a-0 table-icl-container">
                            <table class="table table-condensed table-responsive m-b-0 table-bordered table-default table-included">
                                <thead>
                                <tr>
                                    <th class="text-center fixed-table-item p-a-0">
                                        <div class="table-th-bordered">
                                            <button class="btn btn-success btn-xs full-width-button">
                                                Ссылка на документ
                                            </button>
                                        </div>
                                    </th>
                                    <th class="text-center fixed-table-item-incl p-a-0">
                                        <button class="btn btn-danger btn-xs full-width-button">
                                            Изменить срок задачи
                                        </button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-center fixed-table-item-incl">Комментарий</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="2" class="fixed-table-item-incl table-incl-last-item">
                                        <div class="comment-item">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            vitae mauris in eros dignissim placerat. Duis cursus eleifend
                                            odio, pellentesque sodales eros convallis in. Suspendisse
                                            suscipit, libero id maximus varius, nisl ex placerat orci, at
                                            facilisis orci velit at arcu. Mauris dolor velit, egestas ut
                                            odio non, bibendum ultrices risus.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="add-subtask">
                    <button class="btn btn-default btn-inverse btn-sm">
                        Добавить подзадачу
                    </button>
                </div>
                <table class="table table-condensed table-responsive m-b-0 table-bordered table-default">
                    <thead>
                    <tr>
                        <th width="144" class="search-heading text-center column-1">
                            <input type="text" class="form-control" title="">
                        </th>
                        <th width="415" class="search-heading">
                            <input type="text" class="form-control" title="">
                        </th>
                        <th width="227" class="search-heading fixed-table-item">
                            <input type="text" class="form-control" title="">
                        </th>
                        <th width="227" class="search-heading fixed-table-item">
                            <input type="text" class="form-control" title="">
                        </th>
                        <th width="144" class="search-heading">
                            <input type="text" class="form-control pull-left" title="">
                        </th>
                        <th width="17" class="search-heading">
                            <a href="#" class="i-search pull-right"></a>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center column-1">№</th>
                        <th class="text-center">Задача</th>
                        <th class="text-center">Пояснение</th>
                        <th class="text-center">Сроки</th>
                        <th colspan="2" class="text-center">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="3" class="text-center">836</td>
                        <td>Описание задачи</td>
                        <td>Пояснение задачи</td>
                        <td>22.09.2016</td>
                        <td class="text-center" colspan="2" rowspan="3">
                            <div class="change-status">В работе</div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="p-a-0">
                            <table class="table table-condensed table-responsive m-b-0 table-bordered table-default table-included">
                                <thead>
                                <tr>
                                    <th colspan="3" class="text-center p-a-0"> <div class="table-th-bordered">Решение</div>
                                    </th>
                                    <th colspan="4" class="text-center">&nbsp;</th>
                                </tr>
                                <tr>
                                    <th class="text-center column-1 p-a-0">
                                        <div class="table-th-bordered">№</div>
                                    </th>
                                    <th class="text-center column-1 p-a-0">
                                        <div class="table-th-bordered">Мэр</div>
                                    </th>
                                    <th class="text-center p-a-0">
                                        <div class="table-th-bordered">Участники</div>
                                    </th>
                                    <th class="text-center p-a-0">
                                        <div class="table-th-bordered">Подзадача</div>
                                    </th>
                                    <th class="text-center p-a-0">
                                        <div class="table-th-bordered">Срок</div>
                                    </th>
                                    <th colspan="2" class="text-center">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2" class="text-center fixed-height-row">836/1</td>
                                    <td rowspan="2" class="text-center attention-cell">Мэр</td>
                                    <td rowspan="2">Белякова Валентина Сергеевна</td>
                                    <td rowspan="2">Сделать рассылку по кандидатам</td>
                                    <td>22.09.2016</td>
                                    <td colspan="2" rowspan="2" class="table-incl-last-item">
                                        <div class="change-status">В работе</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center danger-cell p-a-0">
                                        <button class="btn btn-danger btn-xs full-width-button">
                                            Изменить<br>срок<br>задачи
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="2" class="p-a-0 table-icl-container">
                            <table class="table table-condensed table-responsive m-b-0 table-bordered table-default table-included">
                                <thead>
                                <tr>
                                    <th class="text-center fixed-table-item p-a-0">
                                        <div class="table-th-bordered">
                                            <button class="btn btn-success btn-xs full-width-button">
                                                Ссылка на документ
                                            </button>
                                        </div>
                                    </th>
                                    <th class="text-center fixed-table-item-incl p-a-0">
                                        <button class="btn btn-danger btn-xs full-width-button">
                                            Изменить срок задачи
                                        </button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-center fixed-table-item-incl">Комментарий</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="2" class="fixed-table-item-incl table-incl-last-item">
                                        <div class="comment-item">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                            vitae mauris in eros dignissim placerat. Duis cursus eleifend
                                            odio, pellentesque sodales eros convallis in. Suspendisse
                                            suscipit, libero id maximus varius, nisl ex placerat orci, at
                                            facilisis orci velit at arcu. Mauris dolor velit, egestas ut
                                            odio non, bibendum ultrices risus.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="add-subtask">
                    <button class="btn btn-default btn-inverse btn-sm">
                        Добавить подзадачу
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}