{% extends '@WebSite/userTaskLayout.html.twig' %}

{% block content %}
    <div class="tab-pane active">
        <div class="row">
            <div class="col-xs-3">
                <button class="btn btn-success full-width-button">Добавить документ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 m-t-2">
                <table class="table table-condensed table-responsive table-bordered table-default">
                    <thead>
                    <tr>
                        <th rowspan="2" scope="col" class="text-center column-1">№</th>
                        <th rowspan="2" scope="col" class="text-center">Отвественный</th>
                        <th rowspan="2" scope="col" class="text-center">Задача</th>
                        <th rowspan="2" scope="col" class="text-center">Пояснение</th>
                        <th colspan="4" scope="col" class="text-center">Персональные настройки</th>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">Напомнить</th>
                        <th scope="col" class="text-center">Периодичность</th>
                        <th colspan="2" class="text-center" scope="col">День</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><input type="text" class="form-control" title=""></td>
                        <td><a href="#" class="i-search"></a></td>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select>
                        </td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select>
                        </td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select>
                        </td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select></td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select>
                        </td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">6</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select>
                        </td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">7</td>
                        <td>Кочергин И.С.</td>
                        <td>Заполнить документы</td>
                        <td>Качественно</td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select class="form-control" title="">
                                <option>Ежемесячно</option>
                                <option>Еженедельно</option>
                                <option>Каждый день</option>
                            </select>
                        </td>
                        <td colspan="2" class="text-center">
                            <select class="form-control" title="">
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Суббота</option>
                                <option>Воскресение</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}