.task-log{
  .task-log-row{
    margin: 0 10px;
    padding: 10px 10px;
    border-bottom: 1px dashed #999;
    &:last-child{
      border-bottom: none;
    }
    &.task-log-row-status,
    &.task-log-row-deadline,
    &.task-log-row-user{
      .task-log-row-text,
      .task-log-row-user-name{
        color: #3b3b3b;
      }
    }

    &:nth-child(2n+1){
      background: darken(rgba(218, 218, 218, 0.18), 20%);
    }
  }
  margin-bottom: 20px;
}

