{% if links|length == 1 %}
    <a
         {% if link.attr is defined%}
            {% for attr,value in link.attr %}
                {{ attr }} = "{{ value }}"
            {% endfor %}
        {% endif %}

            href="{{ attribute(links, '0').path }}" class="btn btn-sm btn-{{ type }}">
        {{ attribute(links, '0').title|raw }}
    </a>
{% elseif links|length > 1 %}

    <div class="btn-group">
        <a href="{{ attribute(links, '0').path }}" class="btn btn-sm btn-{{ type }}">
            {{ attribute(links, '0').title|raw }}
        </a>
        <button type="button" class="btn  btn-sm btn-{{ type }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            {% for key,link in links %}
                {% if key >0 %}
                    <li>
                        <a
                            {% if link.attr is defined%}
                                {% for attr,value in link.attr %}
                                    {{ attr }} = "{{ value }}"
                                {% endfor %}
                            {% endif %}
                            href="{{ attribute(links, key).path }}">{{ attribute(links, key).title|raw }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endif %}