{% macro echoQuestionLog(log) %}
    <div class="task-log">
        {% for message in log %}
            <div class="task-log-row">
                <p>
                    <a href="{{ path('web_site_tasks_view', {id: message.task.id}) }}">
                        <b>#{{ message.task.id }} {{ message.task.text }}</b>
                    </a>
                </p>
                {{ _self.echoLog(message) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro echoTaskLog(log) %}
    <div class="task-log">
        {% for message in log %}
            {{ _self.echoLog(message) }}
        {% endfor %}
    </div>
{% endmacro %}


{% macro echoLog(message) %}
    <div class="row task-log-row">
        <div class="col-md-2">
            <p>
                <span class="task-log-row-user-name">{{ message.user|user_name }}</span> &nbsp;&nbsp;&nbsp;
            </p>
            <span class="task-log-row-date"><small>{{ message.datetime|date('d.m.Y H:i:s') }}</small></span>
        </div>
        <div class="col-md-8 task-log-row-text">
            {% for key,change in message.changes %}
                <div class="task-log-change">
                    {% if key == 'status' %}
                        <span class="glyphicon glyphicon-tag"></span> Статус: <s>{{ change[0]|task_status_name }}</s> ->  {{ change[1]|task_status_colored }}
                    {% elseif key == 'type' %}
                        <s>{{change[0]|task_type_name }}</s> -> {{ change[1]|task_type_name }}
                    {% elseif key == 'description' %}
                        <div class="row">
                            <div class="col-md-6 task-log-description-old-value">
                                <div><s>Старое значение</s></div>
                                <p>{{change[0] }}</p>
                            </div>
                            <div class="col-md-6 task-log-description-new-value">
                                <div>Новое значение</div>
                                <p>{{ change[1] }}</p>
                            </div>
                        </div>
                    {% elseif key == 'user' %}
                        <span class="glyphicon glyphicon-user"></span> Ответственный:  <s>{{change[0]}}</s> -> {{ change[1] }}
                    {% elseif key == 'deadlineDatetime' %}
                        <span class="glyphicon glyphicon-calendar"></span>
                         Дедлайн:  <s>{{ change[0] }}</s> ->  {{ change[1] }}
                    {% endif %}
                </div>
            {% endfor %}

            {% if message.text != '' %}
                <div class="task-log-comment">
                    <span class="glyphicon glyphicon-comment"></span>
                    {{ message.text }}
                    {% if message.files|length > 0 %}
                        <ul>
                            {% for file in message.files %}
                                <li>{{ file|file_icon_link }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') or message.user.id == app.user.id %}
        <div class="col-md-2">
            <a href="{{ path('web_site_tasks_comment_delete',{id:message.id}) }}" class="btn btn-sm btn-primary">
              <span class="glyphicon glyphicon-trash"></span> Удалить
            </a>
        </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro commentFormFilePrototype(file) %}
    <div class="task-log-file-row"  id="{{ file.vars.id }}_row">
        <div class="row">
            <div class="col-md-6 form-group {% if not file.vars.valid %} has-error {% endif %}">
                {{ form_widget(file) }}
                {{ form_errors(file) }}
            </div>
            <div class="col-md-6">
                <span class="task-log-delete-file" data-role="remove" data-target="#{{ file.vars.id }}_row">
                    <span class="glyphicon glyphicon-trash"></span> удалить
                </span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro echoCommentForm(form) %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.text) }}

        <div class="task-log-comment-form" id="file-list" data-prototype="{{ _self.commentFormFilePrototype(form.files.vars.prototype)|e }}">
            {% for file in form.files %}
                {{ _self.commentFormFilePrototype(file) }}
            {% endfor %}
        </div>
        <br>
        <div style="text-align: right">
            <button type="button" class="btn btn-default" id="add-file">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить файл
            </button>
        </div>
        <br>
        <div class="row">
            <div class="text-center col-md-4 col-md-offset-4">
                <button class="full-width-button btn btn-success">Отправить комментарий</button>
            </div>
        </div>
    {{ form_end(form) }}


{% endmacro %}

{% macro echoCommentFormJs() %}
    <script>

        (function($){
            var fileList = $('#file-list');
            var filesCount = 0;

            function fileRowRender()
            {
                $('#file-list [data-role="remove"]').unbind()
                        .click(function(){
                            $($(this).data('target')).remove();
                        })
            }

            $('#add-file').click(function (e) {

                var newWidget = fileList.data('prototype');

                newWidget = newWidget
                        .replace(/__name__/g, filesCount);

                filesCount++;

                fileList.append(newWidget);

                fileRowRender();
            });

            fileRowRender();

        })(jQuery);
    </script>
{% endmacro %}