{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-6 col-md-push-3">
        <br><br><br>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">Система Протоколирования Совещаний  {{ settings().companyName  }}</div>
            <div class="panel-body">
                <form action="{{ path("login_check") }}" method="post"  class="form-horizontal">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Логин</label>
                        <div class="col-sm-10">
                            <input type="text" name="_username" class="form-control"  value="{{ last_username }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
                        <div class="col-sm-10">
                            <input type="password" name="_password" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group"  style="text-align: right">
                        <div class="col-sm-12">
                            <button type="submit" name="_submit" class="btn btn-primary">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}