{% extends '@WebSite/spsLayout.html.twig' %}
{% set h1 = 'Задача # ' ~ task.id %}
{% set  active_tab_route = 'web_site_tasks_finite' %}
{% form_theme form _self %}

{% block _task_repeat_edit_addUser_widget %}
    {{ form_widget(form) }}
    <p class="help-block">
       <span class="glyphicon glyphicon-warning-sign"></span> Для каждого ответственного будет создана новая задача
    </p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li class="active">
                    <a href="{{ path('web_site_tasks_edit', {id: task.id}) }}">Редактировать задачу </a>
                </li>
                <li>
                    {% if task.type == constant('\\CommonBundle\\Entity\\Task::TASK_TYPE_FINITE')%}
                        <a href="{{ path('web_site_tasks_to_repeat', {id: task.id}) }}">Мастер создания постоянной задачи</a>
                    {% elseif task.type == constant('\\CommonBundle\\Entity\\Task::TASK_TYPE_REPEAT')%}
                        <a href="{{ path('web_site_tasks_to_finite', {id: task.id}) }}">Мастер создания задачи со сроком исполнения</a>
                    {% endif %}
                </li>
            </ul>
            <div class="tab-content tab-content-inserted">

                <h4>{{ task.typeName }}</h4>

                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <strong>Форма не прошла валидацию</strong>
                    </div>
                {% endif %}
                {{ form_start(form) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.user) }}
                    {{ form_row(form.addUser) }}
                    {{ form_row(form.deadlineDatetime) }}

                    {% if task.type == constant('\\CommonBundle\\Entity\\Task::TASK_TYPE_REPEAT')%}
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Повторять через</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group {% if form.period.vars.valid == false%} has-error {% endif %}">
                                    {{form_widget(form.period) }}
                                    {{form_errors(form.period) }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group {% if form.periodType.vars.valid == false%} has-error {% endif %}">
                                    {{form_widget(form.periodType) }}
                                    {{form_errors(form.periodType) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_row(form.message) }}

                    <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen();
        })
    </script>
{% endblock %}