{% extends '@WebSite/Task/taskLayout.html.twig' %}

{% set active_task_tab_route = 'web_site_tasks_finite'%}

{% block taskContent %}
    <form name="filter_form" id="filter_form" method="get" action="">
        <p>
            <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
            <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
        </p>

        <table class="table table-responsive table-bordered table-default">
            <thead>
                <tr>
                    <th class="text-center th-sortable td-task-id">
                        {{ knp_pagination_sortable(pagination, '№ з', 't.id') }}
                    </th>
                    <th class="text-center th-sortable td-question-id">
                        {{ knp_pagination_sortable(pagination, '№ в', 't.question_id') }}
                    </th>
                    <th class="text-center th-sortable td-meeting-num">
                        {{ knp_pagination_sortable(pagination, '№ с', 'm.num') }}
                    </th>
                    <th class="text-center">
                        Задача
                    </th>
                    <th class="text-center">
                        Пояснение
                    </th>
                    <th class="text-center th-sortable">
                        {{ knp_pagination_sortable(pagination, 'Сроки', 't.deadline_datetime') }}
                    </th>
                    <th class="text-center th-sortable">
                        {{ knp_pagination_sortable(pagination, 'Статус', 't.status') }}
                    </th>
                    <th class="text-center" style="width: 200px;">
                        Действия
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ filterMacro.add(filters, 't.id', '№') }}</td>
                    <td>{{ filterMacro.add(filters, 't.question_id', '№') }}</td>
                    <td>{{ filterMacro.add(filters, 'm.num', '№') }}</td>
                    <td>{{ filterMacro.add(filters, 't.text', 'Задача') }}</td>
                    <td>{{ filterMacro.add(filters, 't.description', 'Пояснение') }}</td>
                    <td>{{ filterMacro.datepicker(filters, 't.deadline_datetime', 'Сроки') }}</td>
                    <td>{{ filterMacro.add(filters, 't.status', 'Статус') }}</td>
                    <td></td>
                </tr>
                {% for task in pagination %}
                    <tr class="task-status-{{ task.status }}">
                        <td class="text-center">
                            <a title="№ задачи" href="{{ path('web_site_tasks_view', {id: task.id}) }}">{{ task.id}}</a>
                        </td>
                        <td class="text-center">
                            <a title="№ вопроса" href="{{ path('web_site_questions_view', {id: task.question_id}) }}">{{ task.question_id}}</a>
                        </td>
                        <td class="text-center">
                            <a title="№ совещания" href="{{ path('web_site_meetings_view', {id: task.meeting_id}) }}">{{ task.meeting_num}}</a>
                        </td>
                        <td class="text-center">
                            {{ task.text }}
                        </td>
                        <td class="text-center">
                            {{ task.description }}
                        </td>
                        <td class="text-center">
                            {{ task.deadline_datetime|date('d.m.Y H:i') }}<br>
                            {{  date(task.deadline_datetime)|task_deadline_interval_formatted}}
                        </td>
                        <td class="text-center">
                            {{ task.status|task_status_label }}
                        </td>
                        <td class="text-center">

                            {% set links = [] %}

                            {# Пользователь #}
                            {% if task.user_id == app.user.id %}

                                {% if task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_CREATED') %}

                                    {% set links = addBootstrapDropdown({
                                        'title' : 'Взять в работу',
                                        'path' : path('web_site_tasks_processing', {id: task.id})
                                    }, links) %}

                                {% elseif task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_PROCESSING') %}

                                    {% set links = addBootstrapDropdown({
                                        'title' : 'Отправить на проверку',
                                        'path' : path('web_site_tasks_testing', {id: task.id})
                                    }, links) %}

                                {% endif %}

                            {% endif %}

                            {# Мэр #}
                            {% if task.mayor_id == app.user.id %}

                                {% if task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_TESTING') %}

                                    {% set links = addBootstrapDropdown({
                                        'title' : 'Утвердить',
                                        'path' : path('web_site_tasks_approved', {id: task.id})
                                    }, links) %}

                                    {% set links = addBootstrapDropdown({
                                        'title' : 'Вернуть в работу',
                                        'path' : '#',
                                        'attr' : {
                                                'data-remote': path('web_site_tasks_mayor_processing', {id: task.id}),
                                                'data-toggle': 'modal',
                                                'data-target': '#custom_modal',
                                                'data-modal-size': 'modal-lg'
                                            }
                                    }, links) %}

                                {% endif %}
                            {% endif %}

                            {# Админ #}
                            {% if is_granted('ROLE_ADMIN') %}

                                {% if
                                (constant('\\CommonBundle\\Entity\\RepeatTask::TASK_TYPE_FINITE') and task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_APPROVED'))
                                %}
                                    {% set links = addBootstrapDropdown({
                                    'title' : 'Закрыть',
                                    'path' : path('web_site_tasks_completed', {id: task.id})
                                    }, links) %}
                                {% endif %}

                                {% set links = addBootstrapDropdown({
                                'title' : '<span class="glyphicon glyphicon-edit"></span> Редактировать',
                                'path' :  path('web_site_tasks_edit', {id: task.id})
                                }, links) %}

                            {% endif %}

                            {{ bootstrapDropdown(links) }}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <br>
    {% include '::total.count.html.twig' %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block javascripts %}

    {{ filterMacro.clear_js() }}
    {{ filterMacro.datepicker_js() }}
    {{ filterMacro.auto_submit_js }}

{% endblock %}