{% extends '@WebSite/spsLayout.html.twig' %}

{% set h3 = 'Задача # ' ~ task.id %}
{% set active_tab_route = 'web_site_tasks_finite' %}

{% macro notifications_prototype(notification) %}
    <div class="row-striped" id="{{ notification.vars.id }}">
        <div class="row" >
            <div class="col-md-2">
                {% if
                    notification.date.vars.attr.class is not defined
                    or 'hidden' not in notification.date.vars.attr.class
                %}
                    {{ form_label(notification.date) }}
                {% endif %}
            </div>
            <div class="col-md-4 form-group {% if not notification.vars.valid %} has-error {% endif %}">
                {{ form_widget(notification.date) }}
                {{ form_errors(notification.date) }}

                {% if
                    notification.date.vars.attr.class is defined
                    and 'hidden' in notification.date.vars.attr.class
                %}
                    {{ notification.date.vars.value }}

                    - уведомление отправлено

                {% endif %}
            </div>
            <div class="col-md-6">

                {% if
                    notification.date.vars.attr.class is not defined
                    or 'hidden' not in notification.date.vars.attr.class
                %}
                    <a href="#" data-toggle="remove-row" data-target="#{{ notification.vars.id }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li>
                    <a href="{{ path('web_site_tasks_view', {id: task.id}) }}">Задача</a>
                </li>
                <li class="active">
                    <a href="{{ path('web_site_tasks_notifications', {id: task.id}) }}">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Уведомления
                    </a>
                </li>
            </ul>

            <div class="tab-content tab-content-inserted">
                <div class="alert alert-info">
                    Вы получите напоминание на <strong>{{ app.user.email }}</strong>
                </div>

                {{ form_errors(form) }}

                {{ form_start(form) }}

                <div class="h4">Разовые уведомления</div>
                {{ form_label(form.singleNotifications) }}
                <div id="notification-list" class="row-list-striped" data-prototype="{{ _self.notifications_prototype(form.singleNotifications.vars.prototype)|e }}">
                    {% for notification in form.singleNotifications %}
                        {{ _self.notifications_prototype(notification) }}
                    {% endfor %}
                </div>
                <p style="text-align: right">
                    <button type="button" class="btn btn-default" id="add-notification">
                        <span class="glyphicon glyphicon-plus"></span>
                        Добавить уведомление
                    </button>
                </p>

                <hr/>
                <div class="h4">Регулярные уведомления</div>
                {{ form_row(form.repeatNotifications) }}

                <br>
                <button type="submit" class="btn btn-success">Отправить</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        var notificationCount = '{{ task.notifications|length }}';
        var notificationList = jQuery('#notification-list');

        (function($) {

            function notificationRender()
            {
                $('[data-toggle="remove-row"]', notificationList)
                    .unbind()
                    .click(function(){
                        $($(this).data('target')).remove();
                    })
            }

            $('#add-notification').click(function(e) {

                var newWidget = notificationList.data('prototype');

                newWidget = newWidget
                        .replace(/__name__label__/g, 'Уведомление ' + (notificationCount + 1) )
                        .replace(/__name__/g, notificationCount);

                notificationCount++;

                notificationList.append(newWidget);

                notificationRender();
                datePickerInit();
            });

            notificationRender();
        })(jQuery);

    </script>
{% endblock %}