{% extends '@WebSite/Task/taskLayout.html.twig' %}

{% set active_task_tab_route = 'web_site_tasks_repeat'%}

{% block taskContent %}
    <form name="filter_form" id="filter_form" method="get" action="">
        <p>
            <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
            <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
        </p>

        <table class="table table-responsive table-bordered table-default">
            <thead>
                <tr>
                    <th class="text-center th-sortable td-task-id">
                        {{ knp_pagination_sortable(pagination, '№ з', 't.id') }}
                    </th>
                    <th class="text-center th-sortable td-question-id">
                        {{ knp_pagination_sortable(pagination, '№ в', 't.question_id') }}
                    </th>
                    <th class="text-center th-sortable td-meeting-num">
                        {{ knp_pagination_sortable(pagination, '№ с', 'm.num') }}
                    </th>
                    <th class="text-center">
                        Задача
                    </th>
                    <th class="text-center">
                        Пояснение
                    </th>
                    <th class="text-center th-sortable">
                        {{ knp_pagination_sortable(pagination, 'Сроки', 't.deadline_datetime') }}
                    </th>
                    <th class="text-center th-sortable">
                       Статус
                    </th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="text-center" style="width: 200px;">
                            Действия
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ filterMacro.add(filters, 't.id', '№') }}</td>
                    <td>{{ filterMacro.add(filters, 't.question_id', '№') }}</td>
                    <td>{{ filterMacro.add(filters, 'm.num', '№') }}</td>
                    <td>{{ filterMacro.add(filters, 't.text', 'Задача') }}</td>
                    <td>{{ filterMacro.add(filters, 't.description', 'Пояснение') }}</td>
                    <td>{{ filterMacro.datepicker(filters, 't.deadline_datetime', 'Сроки') }}</td>
                    <td></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td></td>
                    {% endif %}
                </tr>
                {% for task in pagination %}
                    <tr class="task-status-{{ task.status }}">
                        <td class="text-center">
                            <a title="№ задачи" href="{{ path('web_site_tasks_view', {id: task.id}) }}">{{ task.id}}</a>
                        </td>
                        <td class="text-center">
                            <a title="№ вопроса" href="{{ path('web_site_questions_view', {id: task.question_id}) }}">{{ task.question_id}}</a>
                        </td>
                        <td class="text-center">
                            <a title="№ совещания" href="{{ path('web_site_meetings_view', {id: task.meeting_id}) }}">{{ task.meeting_num}}</a>
                        </td>
                        <td class="text-center">
                            {{ task.text }}
                        </td>
                        <td class="text-center">
                            {{ task.description }}
                        </td>
                        <td class="text-center">
                            <div>
                                {{ task.deadline_datetime|date('d.m.Y H:i') }} {{ date(task.deadline_datetime)|task_deadline_interval_formatted}}
                            </div>
                            <div>
                                {{ task|task_repeat_period }}
                            </div>
                        </td>
                        <td class="text-center">
                            {{ task.status|task_status_label }}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="text-center">

                                {% set links = [] %}

                                {# Админ #}
                                {% if task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_PROCESSING') %}
                                    {% set links = addBootstrapDropdown({
                                        'title' : 'Закрыть',
                                        'path' : path('web_site_tasks_completed', {id: task.id})
                                    }, links) %}
                                {% endif %}

                                {% set links = addBootstrapDropdown({
                                    'title' : '<span class="glyphicon glyphicon-edit"></span> Редактировать',
                                    'path' :  path('web_site_tasks_edit', {id: task.id})
                                }, links) %}

                                {{ bootstrapDropdown(links) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <br>
    {% include '::total.count.html.twig' %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block javascripts %}

    {{ filterMacro.clear_js() }}
    {{ filterMacro.datepicker_js() }}
    {{ filterMacro.auto_submit_js }}

{% endblock %}