{% extends '@WebSite/spsLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}

{% set h1 = 'Задачи' %}
{% set active_tab_route = 'web_site_tasks_finite' %}

{% if active_task_tab_route is not defined %}
    {% set active_task_tab_route = '' %}
{% endif %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li {% if active_task_tab_route == 'web_site_tasks_finite' %} class="active" {% endif %}>
                    <a href="{{ path('web_site_tasks_finite') }}">Мои Задачи </a>
                </li>
                <li {% if active_task_tab_route == 'web_site_tasks_repeat' %} class="active" {% endif %}>
                    <a href="{{ path('web_site_tasks_repeat') }}">Мои постоянные задачи</a>
                </li>
                <li {% if active_task_tab_route == 'web_site_tasks_all' %} class="active" {% endif %}>
                    <a href="{{ path('web_site_tasks_all') }}">Все задачи</a>
                </li>
            </ul>
            <div class="tab-content tab-content-inserted">
                {% block taskContent '' %}
            </div>
        </div>
    </div>
{% endblock %}