{% extends '@WebSite/spsLayout.html.twig' %}
{% import "@WebSite/Task/macros/log.html.twig" as logMacro %}

{% set h3 = 'Задача # ' ~ task.id %}
{% set  active_tab_route = 'web_site_tasks_finite' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">
                <div class="h4">
                    <span class="glyphicon glyphicon-list-alt"></span> Описание задачи <a href="{{ path('web_site_tasks_view', {id:task.id}) }}">#{{ task.id }}</a>
                </div>

                {{ task.text }}

                {{ task.description }}

                <div class="h4">
                    <span class="glyphicon glyphicon-comment"></span> Комментарий
                </div>
                {{ logMacro.echoCommentForm(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ logMacro.echoCommentFormJs() }}
{% endblock %}