{% extends '@WebSite/spsLayout.html.twig' %}
{% set h1 = 'Создание поятоянной задачи. Задача # ' ~ task.id %}
{% set  active_tab_route = 'web_site_tasks_finite' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li >
                    <a href="{{ path('web_site_tasks_edit', {id: task.id}) }}">Редактировать задачу </a>
                </li>
                <li class="active">
                    <a href="{{ path('web_site_tasks_to_finite', {id: task.id}) }}">Мастер создания задачи со сроком исполнения</a>
                </li>
            </ul>

            <div class="tab-content tab-content-inserted">

                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <strong>Форма не прошла валидацию</strong>
                    </div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen();
        })
    </script>
{% endblock %}