{% extends '@WebSite/spsLayout.html.twig' %}
{% set h1 = 'Создание поятоянной задачи. Задача # ' ~ task.id %}
{% set  active_tab_route = 'web_site_tasks_finite' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li>
                    <a href="{{ path('web_site_tasks_edit', {id: task.id}) }}">Редактировать задачу </a>
                </li>
                <li class="active">
                    <a href="{{ path('web_site_tasks_to_repeat', {id: task.id}) }}">Мастер создания постоянной задачи</a>
                </li>
            </ul>

            <div class="tab-content tab-content-inserted">

                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <strong>Форма не прошла валидацию</strong>
                    </div>
                {% endif %}
                {{ form_start(form) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.user) }}
                    {{ form_row(form.deadlineDatetime) }}

                    <div class="row">
                        <div class="col-md-2">
                            <strong>Повторять через</strong>
                        </div>
                        <div class="col-md-2 form-group {% if form.period.vars.valid == false %} has-error {% endif %}">
                            {{form_widget(form.period) }}
                            {{ form_errors(form.period) }}
                        </div>
                        <div class="col-md-2">
                            {{form_widget(form.periodType) }}
                        </div>
                    </div>
                {{ form_row(form.message) }}

                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen();
        })
    </script>
{% endblock %}