{% extends '@WebSite/spsLayout.html.twig' %}
{% import "@WebSite/Task/macros/log.html.twig" as logMacro %}

{% set h3 = 'Задача # ' ~ task.id %}
{% set active_tab_route = 'web_site_tasks_finite' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    "@WebSiteBundle/Resources/less/task/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">

            {# Доступно только отвественным #}
            {% if task.user.id == app.user.id  %}
                <ul class="nav nav-tabs nav-tabs-inserted" role="tablist">
                    <li class="active">
                        <a href="{{ path('web_site_tasks_view', {id: task.id}) }}">Задача</a>
                    </li>
                    <li>
                        <a href="{{ path('web_site_tasks_notifications', {id: task.id}) }}">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Уведомления
                        </a>
                    </li>
                </ul>
            {% endif %}

            <div class="tab-content tab-content-inserted">

                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Ответственный:&nbsp; <a href="{{ path('web_site_users_view', {id: task.user.id}) }}">{{task.user|user_name }}</a>
                        </p>
                        <p class="clearfix"></p>

                        <p>
                            <span class="glyphicon glyphicon-calendar"></span> Срок до {{ task.deadlineDatetime|date('d.m.Y H:i') }}  {{ task.deadlineDatetime|task_deadline_interval_formatted(task) }} {{ task|task_repeat_period }}
                        </p>

                        <p>
                            Дата совещания: {{ task.question.meeting.datetime|date('d.m.Y H:i')  }} (<a href="{{ path('web_site_meetings_view', {id: task.question.meeting.id}) }}">№ {{ task.question.meeting.num }}</a>)
                        </p>

                        {% if task.startDateTime %}
                            <p>
                                Дата начала работы: {{ task.startDateTime|date('d.m.Y H:i')  }}
                            </p>
                        {% endif %}
                        {% if task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_COMPLETED') and task.endDateTime %}
                            <p>
                                Дата окончания работы: {{ task.endDateTime|date('d.m.Y H:i')  }}
                            </p>
                        {% endif %}
                        <p>
                            Мэр: <a href="{{ path('web_site_users_view', {id: task.question.mayor.id}) }}">{{ task.question.mayor|user_name  }}</a>
                        </p>
                        <p>
                            Вопрос: <a href="{{ path('web_site_questions_view',{id:task.question.id}) }}">{{ task.question.text }}</a>
                        </p>

                        <br>
                        <div class="h4">
                            <span class="glyphicon glyphicon-list-alt"></span> Описание задачи
                        </div>
                        <p>
                            {{ task.text }}
                        </p>
                        <p>
                            {{ task.description }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            {{ task.status|task_status_label }}
                        </div>
                        <p>
                            Тип: {{ task.typeName }}
                        </p>
                        <div class="clearfix"></div>
                        <br>
                        <div style="text-align: right">

                            {% set links = [] %}

                            {# Админ #}
                            {% if is_granted('ROLE_ADMIN') %}

                                {% if
                                (constant('\\CommonBundle\\Entity\\RepeatTask::TASK_TYPE_FINITE') and task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_APPROVED'))
                                or (constant('\\CommonBundle\\Entity\\RepeatTask::TASK_TYPE_REPEAT') and task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_PROCESSING'))
                                %}
                                    {% set links = addBootstrapDropdown({
                                    'title' : 'Закрыть',
                                    'path' : path('web_site_tasks_completed', {id: task.id})
                                    }, links) %}
                                {% endif %}

                                {% set links = addBootstrapDropdown({
                                'title' : '<span class="glyphicon glyphicon-edit"></span> Редактировать',
                                'path' :  path('web_site_tasks_edit', {id: task.id})
                                }, links) %}

                                {{ bootstrapDropdown(links) }}

                            {% else %}
                                {# Пользователь #}

                                {%
                                if
                                task.user.id == app.user.id
                                and task.type == constant('\\CommonBundle\\Entity\\RepeatTask::TASK_TYPE_FINITE')
                                %}

                                    {% if task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_CREATED') %}

                                        {% set links = addBootstrapDropdown({
                                        'title' : 'Взять в работу',
                                        'path' : path('web_site_tasks_processing', {id: task.id})
                                        }, links) %}

                                    {% elseif task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_PROCESSING') %}

                                        {% set links = addBootstrapDropdown({
                                        'title' : 'Отправить на проверку',
                                        'path' : path('web_site_tasks_testing', {id: task.id})
                                        }, links) %}

                                    {% endif %}

                                {% endif %}

                                {# Мэр #}
                                {% if
                                task.question.mayor.id == app.user.id
                                and task.type == constant('\\CommonBundle\\Entity\\RepeatTask::TASK_TYPE_FINITE')
                                and task.status == constant('\\CommonBundle\\Entity\\Task::TASK_STATUS_TESTING')
                                %}

                                    {% set links = addBootstrapDropdown({
                                    'title' : 'Утвердить',
                                    'path' : path('web_site_tasks_approved', {id: task.id})
                                    }, links) %}

                                    {% set links = addBootstrapDropdown({
                                    'title' : 'Вернуть в работу',
                                    'path' : '#',
                                    'attr' : {
                                    'data-remote': path('web_site_tasks_mayor_processing', {id: task.id}),
                                    'data-toggle': 'modal',
                                    'data-target': '#custom_modal',
                                    'data-modal-size': 'modal-lg'
                                    }
                                    }, links) %}

                                {% endif %}

                                {{ bootstrapDropdown(links) }}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted"  id="comments">

                <div class="h4"><i class="fa fa-history" aria-hidden="true"></i> История</div>
                {{ logMacro.echoTaskLog(task.log) }}
                <hr>
                {{ logMacro.echoCommentForm(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ logMacro.echoCommentFormJs() }}
{% endblock %}