{% extends '@WebSite/spsLayout.html.twig' %}
{% set h1 = 'Календарь совещаний' %}
{% set active_tab_route = 'web_site_calendar_index' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
        "@WebSiteBundle/Resources/less/calendar/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="row" id="web-site-calendar-index">
        <div class="col-xs-12 m-t-2">
            {{ parent() }}

            {% if is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-xs-3">
                        <a class="btn btn-success full-width-button" href="{{ path('web_site_meetings_create') }}">
                            <span class="glyphicon glyphicon-plus"></span>
                            Добавить совещание
                        </a>
                    </div>
                </div>
                <br>
            {% endif %}

            <div class="tab-content tab-content-inserted">
                <div class="row">
                    <div class="col-md-3">
                        <a class="prev" href="{{ path('web_site_calendar_index', {year: currentYear - 1 }) }}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            {{ currentYear - 1 }}
                        </a>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-3" style="text-align: right">
                        <a class="next" href="{{ path('web_site_calendar_index', {year: currentYear + 1 }) }}">
                            {{ currentYear + 1 }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <br>

                <div id="datepicker-calendar-group" data-current-year="{{ currentYear }}" data-url="{{ path('web_site_calendar_json_meetings', {year: currentYear}) }}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
        {% javascripts
            "@WebSiteBundle/Resources/public/js/calendar.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

{% endblock %}