{% for key,meeting in meetings %}
    <div>
        <a class="a" href="{{ path('web_site_meetings_view', {id: meeting.id}) }}">Совещание  {{ meeting|meeting_number_or_date }}</a>
        {% if meeting.questions|length > 0 %}
            <ol>
                {% for question in meeting.questions %}
                    <li>{{ question.text }}</li>
                {% endfor %}
            </ol>
        {% else  %}
           Вопросы не добавлены
        {% endif %}
        {% if key > 0 %}
            <hr>
        {% endif %}
    </div>
{% endfor %}
