{% extends '@WebSite/spsLayout.html.twig' %}
{% set h1 = 'Cистема протоколирования совещаний' %}

{% block content %}
    <div class="row">
        {% for item in webSiteBuildMenu() %}
            <a href="{{ path(item.route) }}" class="col-xs-2 p-a-1 dashboard-item">
                <div class="p-a-1 dashboard-item-index"> <img src="{{ asset('bundles/website/images/icons/' ~ item.icon ~ '.png') }}" class="img-responsive p-t-2 m-x-auto" title="{{ item.title }}">
                    <p class="text-center p-t-1">{{ item.title }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}