{% extends '@WebSite/spsLayout.html.twig' %}

{% block content %}
    <div class="row" id="meeting-create-form">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">

                <div class="h4">Статусы задачи</div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>{{ constant('CommonBundle\\Entity\\Task::TASK_STATUS_CREATED') |task_status_label}}</td>
                        <td>Задача создана .</td>
                    </tr>
                    <tr>
                        <td>{{ constant('CommonBundle\\Entity\\Task::TASK_STATUS_PROCESSING') |task_status_label}}</td>
                        <td>Задача принята в работу исполнителем.</td>
                    </tr>
                    <tr>
                        <td>{{ constant('CommonBundle\\Entity\\Task::TASK_STATUS_TESTING') |task_status_label}}</td>
                        <td>Задача отправлена исполнителем на проверку МЭРу.</td>
                    </tr>
                    <tr>
                        <td>{{ constant('CommonBundle\\Entity\\Task::TASK_STATUS_APPROVED') |task_status_label}}</td>
                        <td>Задача проверена и принята МЭРом и отправлена на проверку Руководителю Аппарата.</td>
                    </tr>
                    <tr>
                        <td>{{ constant('CommonBundle\\Entity\\Task::TASK_STATUS_COMPLETED') |task_status_label}}</td>
                        <td>Задача закрыта Руководителем Аппарата.</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
</div>
{% endblock %}