{% extends '@WebSite/groupsLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}
{% set active_tab_route = 'web_site_users_index' %}

{% block content %}
    <div class="row" id="user-index">
        <div class="col-xs-12 m-t-2">

            <div class="tab-content tab-content-inserted">
                <form name="filter_form" id="filter_form" method="get" action="">
                    <p>
                        <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
                        <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
                    </p>
                    <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                        <thead>
                            <tr>
                                <th class="text-center column-1 th-sortable">{{ knp_pagination_sortable(pagination, '#', 'u.id') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Имя', 'u.name') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Статус', 'u.status') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Должность', 'ud.position') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Роль', 'u.roles') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>{{ filterMacro.add(filters, 'u.name', 'Имя') }}</td>
                                <td>{{ filterMacro.add(filters, 'u.status', 'Статус') }}</td>
                                <td>{{ filterMacro.add(filters, 'ud.position', 'Должность') }}</td>
                                <td>{{ filterMacro.add(filters, 'u.roles', 'Роль') }}</td>
                            </tr>
                            {% for user in pagination %}
                                <tr>
                                    <td class="text-center">{{ user.id }}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-2 user-avatar-wrapper">
                                                {{ user|user_photo }}
                                            </div>
                                            <div class="col-md-10">
                                                <a class="user-name" href="{{ path('web_site_users_view', {id: user.id}) }}">{{ user.name }}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ user.status | user_status }}</td>
                                    <td>
                                        {{ user.position }}
                                    </td>
                                    <td>{{ user|user_roles}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <br>
                {% include '::total.count.html.twig' %}
                {{ knp_pagination_render(pagination) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    "@WebSiteBundle/Resources/less/user/index.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ filterMacro.clear_js() }}
    {{ filterMacro.datepicker_js() }}
{% endblock %}