{% extends '::base.html.twig' %}

{% block content %}
    <div class="row" id="user-view">
        <div class="col-xs-12 m-t-2">

            <div class="tab-content tab-content-inserted">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="user-avatar-td">
                                <div class="user-avatar-wrapper">
                                    {{ user|user_photo }}
                                </div>
                            </td>
                            <td class="user-content-td">
                                <p>
                                    <strong>{{ user.name }}</strong> {% if user.position %}<span class="user-position-wrapper">({{user|user_position  }})</span> {% endif %}
                                </p>
                                <p>
                                    {{ user|user_roles }}
                                </p>
                            </td>
                            <td class="user-group-td">
                                <div class="text-right">
                                    {{ user.status|user_status }}
                                </div>
                                {% if user.groups|length > 0 %}
                                    <p>
                                        Группы:
                                    </p>
                                    <ul>
                                        {% for group in user.groups %}
                                            <li>
                                                {{ group.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    "@WebSiteBundle/Resources/less/user/view.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}