{% extends '@WebSite/groupsLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}
{% set active_tab_route = 'web_site_groups_index' %}
{% form_theme form _self %}
 
{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#group_users').chosen();
    </script>
{% endblock %}