{% extends '@WebSite/groupsLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}
{% set active_tab_route = 'web_site_groups_index' %}

{% block content %}

    <div class="row">
        <div class="col-xs-3">
            <a class="btn btn-success full-width-button" href="{{ path('web_site_groups_create') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить группу
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">
                <form name="filter_form" id="filter_form" method="get" action="">
                    <p>
                        <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
                        <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
                    </p>
                    <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                        <thead>
                        <tr>
                            <th class="text-center column-1 th-sortable">{{ knp_pagination_sortable(pagination, '#', 'g.id') }}</th>
                            <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Название', 'g.title') }}</th>
                            <th class="text-center">Описание</th>
                            <th class="text-center">Пользователи</th>
                            <th class="text-center">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>{{ filterMacro.add(filters, 'g.title', 'Название') }}</td>
                            <td>{{ filterMacro.add(filters, 'g.description', 'Описание') }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for group in pagination %}
                            <tr>
                                <td class="text-center">{{ group.id }}</td>
                                <td>{{ group.title }}</td>
                                <td>{{ group.description }}</td>
                                <td>
                                    <ul>
                                        {% for user in group.users %}
                                            <li>{{ user|user_name(true) }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="text-center">

                                    <div class="btn-group">
                                        <a href="{{ path('web_site_groups_edit', {id:group.id }) }}" type="button" class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            Редактировать
                                        </a>
                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('web_site_groups_delete', {id: group.id}) }}">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                    Удалить
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
                <br>
                {% include '::total.count.html.twig' %}
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}