{% extends '@WebSite/spsLayout.html.twig' %}

{% set active_tab_route = 'web_site_meetings_list' %}
{% if type == 'create' %}
    {% set h1 = 'Создание совещания' %}
{% else %}
    {% set h1 = 'Редактирование совещания #' ~ meeting.id %}
{% endif %}


{% block  stylesheets%}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        "@WebSiteBundle/Resources/less/meeting_create_form.less"
        "@jquery_form_validator_css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% macro file_prototype(file) %}
    <div class="new-file-row" id="{{ file.vars.id }}_row">
        <div class="row" >
            <div class="col-md-10">
                <div class="form-group  {% if file.vars.valid != true %} has-error{% endif %}">
                    {{ form_errors(file) }}
                    {{ form_widget(file) }}
                </div>
            </div>
            <div class="col-md-2">
                <span data-target="#{{ file.vars.id }}_row" class="glyphicon glyphicon-remove remove-new-file a"></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro question_prototype(question) %}

    <div class="panel panel-default question-row" id="{{ question.vars.id }}">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-1">
                            #
                            {% if question.vars.data.id is defined %}
                                {{ question.vars.data.id }} &nbsp;
                            {% endif %}
                        </div>
                        <div class="col-md-10 meeting-question-text form-group {% if not question.text.vars.valid %} has-error {% endif %}">
                            {{ form_label(question.text) }}
                            {{ form_widget(question.text) }}
                            {{ form_errors(question.text) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 form-group {% if not question.users.vars.valid %} has-error {% endif %}" >
                            <div data-validation="choice_required" data-step="2">
                                {{ form_label(question.users) }}
                                {{ form_widget(question.users) }}
                                {{ form_errors(question.users) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            {{ form_label(question.addFiles) }}
                            {% if question.vars.value and question.vars.value.files|length > 0%}
                                <br>
                                <ul class="list-unstyled">
                                    {% for file in question.vars.value.files %}
                                        <li id="{{ question.vars.id  }}-file-{{ file.id }}">
                                            {{ file|file_icon_link }}
                                            <span data-target-prototype="#{{ question.vars.id ~'_delete_files_prototype' }}"
                                                  data-target="#{{ question.vars.id  }}-file-{{ file.id }}"
                                                  data-id="{{ file.id }}"
                                                  data-index="{{ loop.index -1 }}"
                                                  data-target-widget="#{{ question.vars.id }}_deleteFiles_{{ loop.index - 1 }}"
                                                  class="a glyphicon glyphicon-remove file-remove"></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div id="{{ question.vars.id }}_file_list" class="file-list" data-prototype="{{ _self.file_prototype(question.addFiles.vars.prototype)|e }}">
                                {% for addFiles in question.addFiles %}
                                    {{ _self.file_prototype(addFiles) }}
                                {% endfor %}
                            </div>
                            <div style="text-align: right; padding: 10px;">
                                <button data-target-question="{{ question.vars.id }}" data-target="#{{ question.vars.id }}_file_list" type="button" class="btn btn-sm btn-default add-file">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Добавить файл
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <div class="meeting-question-remove-button" data-target="#{{ question.vars.id }}">
                        <a href="#" class="question-remove">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div id="{{ question.vars.id ~'_delete_files_prototype' }}" data-prototype="{{ form_widget(question.deleteFiles.vars.prototype)|e }}"></div>

    </div>
    {% do question.setRendered %}
{% endmacro %}


{% macro member_prototype(member) %}
    <tr id="{{ member.vars.id }}" class="member-row">
        <td>
            <div class="form-group {% if not member.user.vars.valid %} has-error {% endif %}">
                <div data-validation="choice_required" data-step="3">
                    {{ form_widget(member.user) }}
                    {{ form_errors(member.user) }}
                </div>
            </div>
        </td>
        <td class="text-center">
            <div class="meeting-member-presence" data-target="#{{ member.cause.vars.id }}">
                {{ form_widget(member.presence) }}
            </div>
        </td>
        <td>
            <div class="form-group {% if not member.cause.vars.valid %} has-error {% endif %}">
                {{ form_widget(member.cause) }}
                {{ form_errors(member.cause) }}
            </div>
        </td>
        <td class="text-center">
            <a href="#" class="meeting-member-remove-button" data-target="#{{ member.vars.id }}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
{% endmacro %}


{% block content %}
    <div class="row" id="meeting-create-form">
        <div class="col-xs-12 m-t-2">

            <ul id="meeting-form-tabs" class="nav nav-tabs nav-tabs-inserted" role="tablist">
                <li role="presentation" class="active">
                    <a href="#meeting" id="meeting-tab" role="tab" data-toggle="tab" aria-controls="meeting" aria-expanded="true">ШАГ 1. Совещание</a>
                </li>
                <li role="presentation">
                    <a href="#questions" role="tab" id="questions-tab" data-toggle="tab" aria-controls="questions">ШАГ 2. Вопросы</a>
                </li>
                <li role="presentation">
                    <a href="#members" role="tab" id="members-tab" data-toggle="tab" aria-controls="members">ШАГ 3. Присутствующие</a>
                </li>
            </ul>

            <div class="tab-content tab-content-inserted">
                    <div id="form-alerts">
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger">
                                    <ul class="list-unstyled">
                                        {% if
                                            not form.datetime.vars.valid
                                            or not form.chairman.vars.valid
                                            or not form.secretary.vars.valid
                                            or not form.newPlace.title.vars.valid
                                        %}
                                            <li>Найдены ошибки на шаге 1</li>
                                        {% endif %}
                                        {% if not form.questions.vars.valid  %}
                                            <li>Найдены ошибки на шаге 2</li>
                                        {% endif %}
                                        {% if
                                            not form.members.vars.valid
                                            or not form.group.vars.valid
                                        %}
                                            <li>Найдены ошибки на шаге 3</li>
                                        {% endif %}

                                        {% for error in form.vars.errors %}
                                            <li>
                                                {{ error.messagePluralization is null
                                                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                            </div>
                        {% endif %}
                    </div>

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}

                    <div id="meeting-form-tabs-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="meeting" aria-labelledby="home-tab">
                            {{ form_row(form.datetime) }}

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="placeWrapper">
                                        {{ form_row(form.place) }}
                                    </div>
                                    {{ form_row(form.createPlace) }}
                                    <div id="newPlaceWrapper">
                                        {{ form_row(form.newPlace) }}
                                    </div>
                                </div>
                            </div>

                            <div class="chairman-wrapper">
                                <div data-validation="choice_required" data-step="1">
                                    {{ form_row(form.chairman) }}
                                </div>
                            </div>

                            <div class="secretary-wrapper">
                                <div data-validation="choice_required" data-step="1">
                                    {{ form_row(form.secretary) }}
                                </div>
                            </div>

                            <hr>
                            <button type="button" data-target="#questions-tab" class="btn btn-success meeting-next-button">Далее. ШАГ 2</button>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="questions" aria-labelledby="profile-tab">

                            <div id="question-list" data-prototype="{{ _self.question_prototype(form.questions.vars.prototype)|e }}">
                                {% for question in form.questions %}
                                    {{ _self.question_prototype(question) }}
                                {% endfor %}
                            </div>
                            <div id="question-delete-file-list">

                            </div>

                            <button type="button" class="btn btn-default" id="add-question">
                                <span class="glyphicon glyphicon-plus"></span>
                                Добавить вопрос
                            </button>

                            <div id="delete-files-list">  </div>

                            <hr>
                            <button type="button" data-target="#members-tab" class="btn btn-success meeting-next-button">Далее. ШАГ 3</button>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="members" aria-labelledby="dropdown1-tab">

                            <div id="member-list" data-prototype="{{ _self.member_prototype(form.members.vars.prototype)|e }}">
                                <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                                    <thead>
                                        <tr>
                                            <th class="text-center column-1">Имя</th>
                                            <th class="text-center">Присутсвие</th>
                                            <th class="text-center">Причина</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in form.members %}
                                            {{ _self.member_prototype(member) }}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" id="add-member">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Добавить участника
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    {{ form_widget(form.selectGroup) }}
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default" id="add-group">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Добавить из группы
                                    </button>
                                </div>
                            </div>
                            <br>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{ form_row(form.createUserGroup) }}
                                    <div id="user-group-wrapper" class="hidden">
                                        {% if not form.group.vars.valid %}
                                            <div class="has-error">
                                                {{ form_errors(form.group) }}
                                            </div>
                                        {% endif %}
                                        {{ form_widget(form.group) }}
                                    </div>
                                </div>
                            </div>

                            <hr>
                            {% if type != 'edit' %}
                                <button type="submit" class="btn btn-success">Отправить</button>
                            {% endif %}
                        </div>
                    </div>
                {% if type == 'edit' %}
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success">Сохранить изменения</button>
                        </div>
                        <div class="col-md-6">
                            <div style="text-align: right">
                                <a data-toggle="modal-confirm" data-href="{{ path('web_site_meetings_delete', {id:meeting.id}) }}" data-modal-html="Вы уверены, что хотите удалить совещание? <br> Данное действие невозможно отменить." href="{{ path('web_site_meetings_delete', {id:meeting.id}) }}" class="meeting-modal-confirm">
                                    <span class="glyphicon glyphicon-trash"></span> Удалить совещание
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@query_form_validator_js'
    %}
    <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}

    <script type="text/javascript">

        var memberChosenValues = [];
        var memberList = $('#member-list');
        var questionList = $('#question-list');
        var questionsCount = '{{ form.questions|length }}';
        var membersCount = '{{ form.members|length }}';
        var deleteFileList = $('#question-delete-file-list');
        var stepsValid = {
            1: true,
            2: true,
            3: true
        };

        $(document).ready(function() {

            $('#add-question').click(function(e) {

                var newWidget = questionList.data('prototype');

                newWidget = newWidget
                        .replace(/__question_name__label__/g, 'Вопрос ' + (parseInt(questionsCount) + 1) )
                        .replace(/__question_name__/g, questionsCount);

                questionsCount++;

                questionList.append(newWidget);
                meetingQuestionsRender();

                validationReload();
            });


            $('#add-member').click(function(e) {

                meetingAddMember();

                meetingMembersRender();
                meetingMemberPresenceRender();

                validationReload();
            });

            $('#meeting-tab').on('shown.bs.tab', function(){
                meetingRender();
            });

            $('#meeting-form-tabs a').click(function (e) {
                if (validateCurrentStep() == true) {
                    $(this).tab('show');
                } else {
                    return false;
                }
            });

            $('#questions-tab').on('shown.bs.tab', function(){
                meetingQuestionsRender();
            });

            $('#members-tab').on('shown.bs.tab', function(){
                meetingMembersRender();
            });

            $('.meeting-next-button').click(function(){
                if (validateCurrentStep() == true) {
                    $($(this).data('target')).tab('show');
                }

            });

            $('#meeting_create_createPlace').change(function(){
                meetingCreatePlaceRender();
            });


            $('#add-group').click(function(){
                var groupId = $('#meeting_create_selectGroup').val();

                if (groupId) {
                    $.ajax({
                        url: '/groups/json_get_users/' + groupId,
                        dataType: 'json',
                        type: 'get',
                        success: function(response) {
                            memberList.find('tbody').html('');
                            membersCount = 0;

                            if (response.users.length > 0) {

                                $.each(response.users, function (num, userId) {
                                    meetingAddMember(userId);
                                });

                                meetingMembersRender();
                                meetingMemberPresenceRender();
                            }

                            $('#meeting_create_selectGroup').val('');
                        }

                    })
                }

                validationReload();
            });

            $('#meeting_create_createUserGroup').change(meetingCreateUserGroupRender);

            meetingRender();
            meetingCreateUserGroupRender();
            meetingMemberPresenceRender();
            meetingCreatePlaceRender();
            meetingQuestionsAddFileRender();
            meetingQuestionsRemoveNewFileRender();

        });


        function meetingRender()
        {
            $('#meeting .chosen').chosen();
        }

        function meetingMemberPresenceRender()
        {
            $('.meeting-member-presence', memberList).each(function(num, element){
                $('input', element).change(function(){
                    $($(element).data('target'))
                            .prop('disabled', $(this).prop('checked'))
                            .val('');
                });

                if ($('input', $(element)).prop('checked') == true){
                    $($(element).data('target'))
                            .prop('disabled', $('input', true))
                            .val('');
                } else {
                    $($(element).data('target'))
                            .prop('disabled', false)
                }

            })

        }

        function meetingQuestionsRender()
        {
            $questionRow =  $('.question-row', questionList);

            $('.chosen', $questionRow).chosen();

            $('.meeting-question-remove-button', $questionRow)
                    .unbind()
                    .click(function(){
                        $($(this).data('target')).remove();
                        return false;
                    });

            $('.file-remove', questionList)
                    .unbind()
                    .click(function(){

                        var $targetPrototype = $($(this).data('target-prototype'));
                        var $target = $($(this).data('target'));
                        var newWidget = $targetPrototype.data('prototype');
                        var count = $(this).data('index');
                        var id = $(this).data('id');

                        newWidget = newWidget
                                .replace(/__question_delete_file_name__/g, count);
                        deleteFileList.append(newWidget);

                        var $targetWidget = $($(this).data('target-widget'))

                        $targetWidget.val(id);

                        $target.remove();
                    });

            meetingQuestionsAddFileRender();
        }

        function meetingQuestionsRemoveNewFileRender($row)
        {
            var $elements;

            if ($row != undefined) {
                $elements = $('.remove-new-file', $row).unbind();
            } else {
                $elements = $('.remove-new-file', questionList).unbind();
            }

            $elements.click(function(){
                $($(this).data('target')).remove();
            })
        }

        function meetingQuestionsAddFileRender() {
            $('.add-file', questionList)
                    .unbind()
                    .click(function(){
                        var $target = $($(this).data('target'));
                        var $targetQuestion = $(this).data('target-question');
                        var newWidget = $target.data('prototype');
                        var filesCount = $('.new-file-row', $target).length;

                        newWidget = newWidget
                            .replace(/__question_file_name__/g, filesCount);

                        $target.append(newWidget);

                        meetingQuestionsRemoveNewFileRender($('#' + $targetQuestion + '_addFiles_' + filesCount + '_row'));
                    });
        }

        function meetingMembersRender()
        {
            memberChosenValues = [];

            $('.chosen', memberList).chosen({
                width: '400px'
            }).change(function(){
                var $chosen = $(this);

                $(memberChosenValues).each(function(num,memberChosen){
                    if(memberChosen.id == $chosen.attr('id')){
                        memberChosen.value = $chosen.val();
                    }
                });

                meetingMembersUpdate();
            });

            $('.chosen',memberList).each(function(num, chosen){
                memberChosenValues.push({
                    id: $(chosen).attr('id'),
                    value: $(chosen).val()
                });
            });

            $('.meeting-member-remove-button', memberList)
                    .unbind()
                    .click(function(){
                        $($(this).data('target')).remove();
                        meetingMembersRender();
                        return false;
                    });
            meetingMembersUpdate();
        }

        function meetingMembersUpdate() {
            $('.chosen option', memberList).prop('disabled', false);

            $('.chosen', memberList).each(function(chosenKey, chosen){
                $(memberChosenValues).each(function(key, memberChosen) {
                    if (
                        $(chosen).attr('id') != memberChosen.id
                        && memberChosen.value != ''
                    ) {
                        $('option[value="' + memberChosen.value + '"]', $(chosen)).prop('disabled', true);
                    }
                })
            });

            $('.chosen',memberList).trigger('chosen:updated');
        }

        function meetingCreatePlaceRender()
        {
            validationReload();

            if ($('#meeting_create_createPlace').prop('checked')) {
                $('#placeWrapper').addClass('hidden');
                $('#newPlaceWrapper').removeClass('hidden');
                $('#meeting_create_place').attr('required', null);
                $('#meeting_create_newPlace_title').attr('required', 'required');
            } else {
                $('#placeWrapper').removeClass('hidden');
                $('#newPlaceWrapper').addClass('hidden');
                $('#meeting_create_place').attr('required', 'required');
                $('#meeting_create_newPlace_title').attr('required', null);
            }
        }

        function meetingAddMember(userId)
        {
            var newWidget = memberList.data('prototype');

            newWidget = newWidget
                    .replace(/__name__label__/g, 'Участник ' + (parseInt(membersCount) + 1) )
                    .replace(/__name__/g, membersCount);

            memberList.find('tbody').append(newWidget);

            if (userId != undefined) {
                $('#meeting_create_members_' + membersCount + '_user').val(userId);

            }

            membersCount++;

        }

        function meetingCreateUserGroupRender()
        {
            if ($('#meeting_create_createUserGroup').prop('checked')) {
                $('#user-group-wrapper').removeClass('hidden');
                $('#meeting_create_group_title').attr('required', 'required');
            } else {
                $('#user-group-wrapper').addClass('hidden');
                $('#meeting_create_group_title').attr('required', null);
            }
        }

        function validateCurrentStep()
        {
            var stepValid = true;
            var currentStep = $('#meeting-form-tabs .active').index() + 1;

            validationReload();

            $('[data-step="' + currentStep +'"]').validate(function(valid, elem){
                if (stepValid == true && valid == false) {
                    stepValid = false;
                }
            });

            stepsValid[currentStep] = stepValid;

            if (stepValid == false) {
                $('<div>').attr('class', 'alert alert-danger')
                    .html('Найдены ошибки на шаге ' + currentStep)
                    .appendTo($('#form-alerts').empty())
            } else {
                $('#form-alerts').empty();
            }

            return stepValid;
        }

        function validationReload() {
            var $form = $('#form-alerts');

            if ($form.hasClass('has-validation-callback')) {
                $form.empty();
            }

            $.validate({
                lang : 'ru',
                modules: 'file',
                form : 'form[name="meeting_create"]',
                onSuccess : function($form) {
                    validateCurrentStep();

                    if ($.inArray(false, stepsValid) != -1){
                        return false;
                    }

                    return true;
                }
            });
        }


        $.formUtils.addValidator({
            name : 'choice_required',
            validatorFunction : function(value, $el, config, language, $form) {

                if ( $('select', $el).val().length == 0) {

                    return false;
                } else {

                    return true;
                }

            },
            errorMessage : 'Это поле обязательно'
        });

    </script>
{% endblock %}