{% extends '@WebSite/Meeting/meetingLayout.html.twig' %}

{% set active_meeting_tab_route = 'web_site_meetings_edit_members' %}
{% set h3 = 'Присутствующие.'  %}

{% block content %}
    <div class="row">
       <div class="col-xs-12 m-t-2">
            {{ parent() }}
            <div class="tab-content tab-content-inserted">
                {{ form_start(form)}}
                     <table class="table table-responsive table-bordered m-b-0 table-inner-data" id="member-list">
                         <thead>
                            <tr>
                                <th class="text-center">Имя</th>
                                <th class="text-center">Присутствие</th>
                                <th class="text-center">Причина</th>
                            </tr>
                         </thead>
                         <tbody>
                             {% for member in form.members %}
                                 <tr>
                                     <td class="text-center">
                                         <a href="{{ path('web_site_users_view', {id: member.vars.data.user.id}) }}">
                                            {{ member.vars.data.user|user_name }}
                                         </a>
                                     </td>
                                     <td class="member-presence text-center" data-target="#{{ member.cause.vars.id }}">
                                         {{ form_widget(member.presence) }}
                                     </td>
                                     <td>
                                         <div class="form-group  {% if not member.cause.vars.valid %} has-error {% endif %}">
                                             {{ form_widget(member.cause) }}
                                             {{ form_errors(member.cause) }}
                                         </div>
                                     </td>
                                 </tr>
                             {% endfor %}
                         </tbody>
                     </table>
                    <br>
                    <div style="text-align: right">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                    </div>
                {{ form_end(form) }}
            </div>
       </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#member-list .member-presence').each(function(num,element){
                $('input[type="checkbox"]', element).click(function(){
                    $($(element).data('target')).prop('disabled', $(this).prop('checked'))
                })

                $($(element).data('target')).prop('disabled', $('input[type="checkbox"]' ,element).prop('checked'))
            })
        })
    </script>
{% endblock %}