{% extends '@WebSite/spsLayout.html.twig' %}
{% set active_tab_route = 'web_site_meetings_list' %}
{% form_theme form _self %}

{% block _meeting_email_notification_users_row %}
    {% if form.vars.valid == false %}
        <div class="alert alert-danger">
            {% for error in form.vars.errors %}
                {{ error.message }} <br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="alert alert-info">
        Следующие пользователи получат уведомление:
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Email
                </th>
                <th>
                    Статус участия
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formUser in form.children %}

                {% set user = [] %}
                {% for meetingUser in form.parent.vars.users %}
                    {% if meetingUser.id == formUser.vars.value %}
                         {% set user = meetingUser%}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        {{ form_widget(formUser) }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {% for meetingUser in form.parent.vars.users %}
                            {% if meetingUser.id == formUser.vars.value %}
                                <div>{{ meetingUser.status|meeting_status_user_name }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block content %}
    <div class="tab-content tab-content-inserted">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Отправить уведомления
            {% if meeting.notificationsCount > 0 %}
                ( отправлено: {{ meeting.notificationsCount }} )
            {% endif %}
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}