{% extends '@WebSite/spsLayout.html.twig' %}
{% import '@WebSite/Filter/macro.html.twig' as filterMacro %}

{% set active_tab_route = 'web_site_meetings_list' %}
{% set h1 = 'Список совещаний' %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-xs-3">
                <a class="btn btn-success full-width-button" href="{{ path('web_site_meetings_create') }}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить совещание
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row" id="meeting-index">
        <div class="col-xs-12 m-t-2">
            <div class="tab-content tab-content-inserted">
                <form name="filter_form" id="filter_form" method="get" action="">
                    <p>
                        <input type="submit" value="Применить фильтр" class="btn btn-primary"/>
                        <input type="button" value="Очистить фильтр" id="filter_clear" class="btn btn-primary"/>
                    </p>
                    <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                        <thead>
                            <tr>
                                <th class="text-center column-1">{{ knp_pagination_sortable(pagination, '№', 'm.num') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Дата', 'm.datetime') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Председатель', 'c.name') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Секретарь', 's.name') }}</th>
                                <th class="text-center th-sortable">{{ knp_pagination_sortable(pagination, 'Статус', 'm.status') }} </th>
                                <th class="text-center">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ filterMacro.add(filters, 'm.num', '') }}</td>
                                <td>{{ filterMacro.datepicker(filters, 'm.datetime', 'Дата') }}</td>
                                <td>{{ filterMacro.add(filters, 'c.name', 'Председатель') }}</td>
                                <td>{{ filterMacro.add(filters, 's.name', 'Секретарь') }}</td>
                                <td>{{ filterMacro.add(filters, 'm.status', 'Статус') }}</td>
                                <td></td>
                            </tr>
                            {% for meeting in pagination %}
                                <tr class="meeting-status background status-{{ meeting.status }}">
                                    <td class="text-center">{{ meeting.num }}</td>
                                    <td class="text-center">
                                        <a title="№ овещания" href="{{ path('web_site_meetings_view', {'id': meeting.id}) }}">
                                            {{ meeting.datetime|date('d.m.Y H:i') }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {{ meeting.chairman_name|string_user_name(meeting.chairman_id, true) }}
                                    </td>
                                    <td class="text-center">
                                        {{ meeting.secretary_name|string_user_name(meeting.secretary_id, true) }}
                                    </td>
                                    <td class="text-center">
                                        {{ meeting.status|meeting_status_name_colored }}
                                    </td>
                                    <td class="text-center">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CREATED') %}
                                                <div class="btn-group">
                                                    <button data-toggle="modal-confirm" data-modal-html="Вы уверены, что хотите начать совещание? <br> Данное действие невозможно отменить." data-href="{{ path('web_site_meetings_start', {id:meeting.id}) }}" class="btn btn-sm btn-success meeting-modal-confirm">Начать совещания</button>
                                                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ path('web_site_meetings_edit', {id:meeting.id}) }}">
                                                                <span class="glyphicon glyphicon-edit"></span>
                                                                Редактировать совещание
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a target="_blank" href="{{ path('web_site_meetings_pdf', {id:meeting.id}) }}">
                                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ meeting.status|meeting_protocol_title }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('web_site_meetings_notification', {id: meeting.id}) }}">
                                                                <span class="glyphicon glyphicon-envelope"></span>
                                                                Отправить уведомление
                                                                {% if meeting.notifications_count > 0 %}
                                                                    ( {{ meeting.notifications_count }} )
                                                                {% endif %}
                                                            </a>
                                                        </li>
                                                        <li role="separator" class="divider"></li>
                                                        <li>
                                                            <a href="#" data-toggle="modal-confirm" data-modal-html="Вы уверены, что хотите удалить совещание? <br> Данное действие невозможно отменить." data-href="{{ path('web_site_meetings_delete', {id:meeting.id}) }}" class="meeting-modal-confirm">
                                                                <span class="glyphicon glyphicon-trash"></span> Удалить совещание
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% elseif meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED')%}
                                                <div class="btn-group">
                                                    <a href="{{ path('web_site_meetings_view', {id:meeting.id}) }}" class="btn btn-sm btn-primary">Совещание</a>
                                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="#" data-toggle="modal-confirm" data-modal-html="Вы уверены, что хотите закрыть совещание? <br> Данное действие невозможно отменить." class="meeting-modal-confirm" data-href="{{ path('web_site_meetings_close', {id:meeting.id}) }}">Закрыть совещания</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('web_site_meetings_notification', {id: meeting.id}) }}">
                                                                <span class="glyphicon glyphicon-envelope"></span>
                                                                Отправить уведомление
                                                                {% if meeting.notifications_count > 0 %}
                                                                    ( {{ meeting.notifications_count }} )
                                                                {% endif %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a target="_blank" href="{{ path('web_site_meetings_pdf', {id:meeting.id}) }}">
                                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ meeting.status|meeting_protocol_title }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% else %}

                                                <div class="btn-group">
                                                    <a target="_blank" class="btn btn-sm btn-primary" href="{{ path('web_site_meetings_pdf', {id:meeting.id}) }}">
                                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ meeting.status|meeting_protocol_title }}
                                                    </a>
                                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ path('web_site_meetings_notification', {id: meeting.id}) }}">
                                                                <span class="glyphicon glyphicon-envelope"></span>
                                                                Отправить уведомление
                                                                {% if meeting.notifications_count > 0 %}
                                                                    ( {{ meeting.notifications_count }} )
                                                                {% endif %}
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <a target="_blank" class="btn btn-sm btn-primary" href="{{ path('web_site_meetings_pdf', {id:meeting.id}) }}">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ meeting.status|meeting_protocol_title }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <br>
                {% include '::total.count.html.twig' %}
                {{ knp_pagination_render(pagination) }} 

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ filterMacro.clear_js() }}
    {{ filterMacro.datepicker_js() }}
    {{ filterMacro.auto_submit_js }}

{% endblock %}