{% extends '@WebSite/spsLayout.html.twig' %}
{% set active_tab_route = 'web_site_meetings_list' %}
{% set h1 = 'Совещание ' ~ meeting|meeting_number_or_date %}

{% if active_meeting_tab_route is not defined %}
    {% set active_meeting_tab_route = '' %}
{% endif %}

{% block content %}
    <ul class="nav nav-tabs nav-tabs-inserted">
        <li {% if active_meeting_tab_route == 'web_site_meetings_view' %} class="active" {% endif %}>
            <a href="{{ path('web_site_meetings_view', {id:meeting.id}) }}">Совещание</a>
        </li>
        <li {% if active_meeting_tab_route == 'web_site_meetings_questions' %} class="active" {% endif %}>
            <a href="{{ path('web_site_meetings_questions', {id:meeting.id}) }}">Вопросы</a>
        </li>
        <li {% if active_meeting_tab_route in ['web_site_meetings_view_members', 'web_site_meetings_edit_members'] %} class="active" {% endif %}>

            {% if is_granted('ROLE_ADMIN') and meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED') %}
                <a href="{{ path('web_site_meetings_edit_members', {id:meeting.id}) }}">Присутствующие</a>
            {% else %}
                <a href="{{ path('web_site_meetings_view_members', {id:meeting.id}) }}">Присутствующие</a>
            {% endif %}

        </li>
    </ul>
{% endblock %}