{% extends '@WebSite/Meeting/meetingLayout.html.twig' %}

{% set active_meeting_tab_route = 'web_site_meetings_questions' %}
{% set h3 = 'Вопросы.'  %}

{% block content %}
    {% if meeting.status != constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
    <div class="row">
        <div class="col-xs-3">
            <a class="btn btn-success full-width-button" href="{{ path('web_site_meetings_add_open_meeting_question', {meetingId: meeting.id }) }}">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить вопрос
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            {{ parent() }}
            <div class="tab-content tab-content-inserted">
                {% if  meeting.questions|length == 0 %}
                    <div class="alert alert-warning">
                        Вопросы не найдены
                    </div>
                {% endif %}

                {% for question in meeting.questions %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="h4">
                                        Вопрос # {{ question.id }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="text-align: right">
                                        {% if question.answer %}
                                            <span class="label-success label">Есть решение</span>
                                        {% endif %}
                                        {% if question.meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
                                                <span class="label-default label">Задач: {{ question.tasks|length }}</span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">

                            <p>{{ question.text }}</p>
                            <div class="row">
                                <div class="col-md-4">
                                    {% if question.users|length %}
                                        <strong>Докладчики:</strong>
                                        <ul class="list-unstyled">
                                            {% for user in question.users %}
                                                <li style="padding-left: 10px;">
                                                    <a href="{{ path('web_site_users_view', {id: user.id}) }}" >
                                                        {{user|user_name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </div>

                                <div class="col-md-4">
                                    {% if question.mayor %}
                                        <strong>Мэр вопроса</strong>:
                                        <a href="{{ path('web_site_users_view', {id: question.mayor.id}) }}" >
                                            {{ question.mayor|user_name }}
                                        </a>
                                    {% endif %}
                                </div>

                                <div class="col-md-4">
                                    {% if question.answer != '' %}
                                        <strong>Решение:</strong>
                                        {{ question.answer }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Задачи:</strong>
                                    <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                                        <thead>
                                        <tr>
                                            <td><strong>Задача</strong></td>
                                            <td><strong>Ответсвенные</strong></td>
                                            <td><strong>Тип</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for task in question.tasksPlaned %}
                                            <tr>
                                                <td>{{ task.text }}</td>
                                                <td>
                                                    {% for user in task.users %}
                                                        {{ user|user_name }} {% if loop.index < task.users |length %}, {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {{ task.typeName }}
                                                </td> 
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            {% if question.files|length > 0 %}
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-unstyled">
                                            {% for file in question.files %}
                                                <li>{{ file|file_icon_link }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            <br>

                            <div style="text-align: right;">
                                {% if  question.meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED')%}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('web_site_questions_edit', {id:question.id}) }}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            Карточка вопроса</a>
                                    {% else %}
                                        <a href="{{ path('web_site_questions_view', {id:question.id}) }}" class="btn btn-default">Карточка вопроса</a>
                                    {% endif %}
                                {% elseif  question.meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED')%}
                                    <a href="{{ path('web_site_questions_view', {id:question.id}) }}" class="btn btn-primary">Катрочка вопроса</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}