{% extends '@WebSite/Meeting/meetingLayout.html.twig' %}

{% set active_meeting_tab_route = 'web_site_meetings_view' %}
{% set h3 = 'Совещание' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
            {{ parent() }}

            <div class="tab-content tab-content-inserted">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{{ path('web_site_meetings_pdf', {id: meeting.id}) }}" class="btn btn-primary btn-sm">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ meeting.status|meeting_protocol_title }}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CREATED') %}
                                    <button data-toggle="modal-confirm" data-modal-html="Вы уверены, что хотите начать совещание? <br> Данное действие невозможно отменить." data-href="{{ path('web_site_meetings_start', {id:meeting.id}) }}" class="btn btn-sm btn-success meeting-modal-confirm">Начать совещания</button>
                                    <a class="btn btn-primary btn-sm" href="{{ path('web_site_meetings_edit',{id: meeting.id}) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Редактировать
                                    </a>
                                    <a href="{{ path('web_site_meetings_notification', {id: meeting.id}) }}" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        Отправить уведомление
                                        {% if meeting.notificationsCount > 0 %}
                                            ( {{ meeting.notificationsCount }} )
                                        {% endif %}
                                    </a>
                                {% elseif meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED') %}
                                    <a href="{{ path('web_site_meetings_notification', {id: meeting.id}) }}" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        Отправить уведомление
                                        {% if meeting.notificationsCount > 0 %}
                                            ( {{ meeting.notificationsCount }} )
                                        {% endif %}
                                    </a>
                                    <a href="#" data-toggle="modal-confirm" data-modal-html="Вы уверены, что хотите удалить совещание? <br> Данное действие невозможно отменить." data-href="{{ path('web_site_meetings_delete', {id:meeting.id}) }}" class="meeting-modal-confirm btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Удалить совещание
                                    </a>
                                    <button  data-toggle="modal-confirm" data-modal-html="Вы уверены, что хотите закрыть совещание? <br> Данное действие невозможно отменить." class="meeting-modal-confirm btn btn-default btn-sm" data-href="{{ path('web_site_meetings_close', {id:meeting.id}) }}">Закрыть совещания</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6"  style="text-align: right">
                        {{ meeting.status|meeting_status_label }}
                    </div>
                </div>
                <br>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Дата</td>
                            <td>{{ meeting.datetime|date('d.m.Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td>№</td>
                            <td>{{ meeting.num }}</td>
                        </tr>
                        <tr>
                            <td>Место</td>
                            <td>{{ meeting.place.title }}</td>
                        </tr>
                        <tr>
                            <td>Председатель</td>
                            <td>{{ meeting.chairman.name }}</td>
                        </tr>
                        <tr>
                            <td>Секретарь</td>
                            <td>{{ meeting.secretary.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}