{% extends '@WebSite/Meeting/meetingLayout.html.twig' %}

{% set active_meeting_tab_route = 'web_site_meetings_view_members' %}
{% set h3 = 'Присутствующие.'  %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 m-t-2">
        {{ parent() }}

            <div class="tab-content tab-content-inserted">

                <table class="table table-responsive table-bordered m-b-0 table-inner-data">
                    <thead>
                    <tr>
                        <th class="text-center">Участник</th>
                        <th class="text-center">Присутсвие</th>
                        <th class="text-center">Причина</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for member in meeting.members %}
                            <tr>
                                <td class="text-center">
                                    <a href="{{ path('web_site_users_view', {id: member.user.id}) }}">
                                        {{member.user|user_name }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{ member.presence|bool_to_string }}
                                </td>
                                <td class="text-center">
                                    {{ member.cause }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}