<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {{ meeting.status|meeting_protocol_title }} {{ meeting|meeting_number_or_date }}
    </title>
    <style>
        .default-font{
            font-size: 16px;
            line-height: 15px;
        }
        h4{
            margin-bottom: 5px;
            margin-top: 5px;
            padding:0;
            font-size:17px;
            line-height: 16px;

        }
        ol {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        body{
            color:#3c3b3b;
        }
    </style>
</head>
<body>
    <h4>
        {{ meeting.status|meeting_protocol_title }} {{ meeting|meeting_number_or_date }} {{ settings().companyName  }}
    </h4>
    <div class="default-font" >
        <strong>Статус:</strong> {{ meeting.statusName }}<br>
        <strong>Дата:</strong> {{ meeting.datetime|date('d.m.Y') }} г.<br>
        <strong>Время:</strong> {{ meeting.datetime|date('H:i') }}<br>
        <strong>Место:</strong> {{ meeting.place.title }}
    </div>
    <div class="default-font" style="padding-top: 10px; ">
        Председатель - {{ meeting.chairman.name }} ({{ meeting.chairman|user_position }})
    </div>

    {% set meetingMembers = meetingOrderedMembers(meeting, true)  %}
    {% if meetingMembers|length > 0 %}
        <h4>Приглашенные сотрудники Союза:</h4>
        <div class="default-font">
            {% for key,member in meetingMembers %}
                <div style="padding-left: 20px">{{ key + 1 }}. {{ member.user.name }} ({{ member.user|user_position }})</div>
            {% endfor %}
            Секретарь: {{ meeting.secretary.name }} ({{ meeting.secretary|user_position }})
        </div>
    {% endif %}

    {% set meetingNotPresenceMembers = meetingOrderedMembers(meeting, false)  %}
    {% if meetingNotPresenceMembers|length > 0 %}
        <h4>Отсутствовали:</h4>
        {% for key,member in meetingNotPresenceMembers %}
            <div style="padding-left: 20px">{{ key + 1 }}. {{ member.user.name }} ({{ member.user|user_position }}) - {{ member.cause}} </div>

        {% endfor %}
    {% endif %}

    {% if meeting.questions|length > 0 or meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CREATED') %}
        <h4>Вопросы текущего совещания:</h4>
    {% endif %}

    {% if meeting.questions|length > 0 %}
        <div class="default-font">
            {% for key,question in meeting.questions %}
                <div style="padding-top:5px;">
                    {{ key + 1 }}.&nbsp;<strong>{{ question.text }}</strong>
                </div>
                <div style="padding-left: 20px;">
                    {% if question.answer != '' %}
                        <p>
                            Решение: {{ question.answer }}
                        </p>
                    {% endif %}

                    {% if question.description != '' %}
                        <p>
                            Пояснение к решению: {{ question.description }}
                        </p>
                    {% endif %}

                    Докладчики(и):
                    <ul>
                        {% for key, user in question.users %}
                            <li>{{ user.name }} ({{ user|user_position }})</li>
                        {% endfor %}
                    </ul>
                    {% if meeting.status in [
                        constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED'),
                        constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED')
                    ] %}
                        <div style="padding-left: 20px; padding-top: 10px;">
                            <strong>Поставленные задачи:</strong>
                            {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
                                {% set tasks = question.tasks %}
                            {% else %}
                                {% set tasks = question.tasksPlaned %}
                            {% endif %}

                            {% for keyTask,task in tasks %}
                                <div style="padding-bottom: 10px;">
                                    <div style="padding-bottom: 10px;">
                                        {{ keyTask + 1 }}. {% if task.type == constant('\\CommonBundle\\Entity\\TaskPlaned::TASK_PLANED_TYPE_REPEAT')%} Постоянная задача: {% endif %}<strong>{{ task.text }}</strong>
                                    </div>
                                    <div style="padding-left: 15px">

                                        <div style="padding-bottom: 4px">
                                            Мэр: {{ question.mayor.name }} ({{ question.mayor|user_position }})
                                        </div>

                                        <div style="padding-bottom: 4px">
                                            {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED') %}
                                                Ответственный: {{ task.user.name }} ({{ task.user|user_position }})
                                            {% else %}
                                                Ответственные:
                                                <ul>
                                                    {% for user in task.users %}
                                                         <li>{{ user.name }} ({{ user|user_position }})</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>

                                        <div style="padding-bottom: 4px">
                                            {% spaceless %}
                                                Дата исполнения: {{ task.deadlineDatetime|date('d.m.Y H:i') }} {{ task|task_repeat_period('string') }}
                                            {% endspaceless %}
                                        </div>

                                        {% if task.description != '' %}<br>
                                            <div><div style="border-bottom: 1px solid; width: 164px;"><strong>Пояснение к задаче:</strong></div></div>
                                            <div style="font-style: italic; padding-top: 5px;">{{ task.description }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}


                {% if question.files|length > 0 %}
                    <div style="padding-top: 10px;">
                        {% for file in question.files %}
                            <a>{{ file|file_download_link }}</a><br>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>

            {% endfor %}
        </div>

        {% if meeting.status in  [
            constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CLOSED'),
            constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_OPENED')
        ] %}
            Вопросы исчерпаны
        {% endif %}

    {% endif %}

    {% if meeting.status == constant('\\CommonBundle\\Entity\\Meeting::MEETING_STATUS_CREATED') %}
        {{ (meeting.questions|length) + 1  }}.
        <strong>
            Прочее
        </strong>
    {% endif %}

</body>
</html>