@import "../variables";
#user-view{
  .user-avatar-wrapper{
    padding: 10px;
    img{
     max-width: 200px;
    }
  }
  .user-position-wrapper{
    color: @color_gray;
  }
  .user-avatar-td{
    width: 150px;
  }
  .user-group-td{
    vertical-align: top;
  }
}