{% extends '::base.html.twig' %}

{% block tabs %}
    <ul class="nav nav-tabs nav-tabs-default">
        <li {% if active_tab_route == 'web_site_users_index' %} class="active" {% endif %} ><a href="{{ path('web_site_users_index') }}">Пользователи</a></li>
        <li {% if active_tab_route == 'web_site_groups_index' %} class="active" {% endif %}><a href="{{ path('web_site_groups_index') }}">Группы</a></li>
    </ul>
{% endblock %}