{% extends '::base.html.twig' %}
{% if active_tab_route is not defined %}
    {% set active_tab_route = '' %}
{% endif %}

{% block tabs %}
    <ul class="nav nav-tabs nav-tabs-default">
        <li {% if active_tab_route == 'web_site_calendar_index' %} class="active" {% endif %} ><a href="{{ path('web_site_calendar_index') }}">Календарь совещаний</a></li>
        <li {% if active_tab_route == 'web_site_meetings_list' %} class="active" {% endif %}><a href="{{ path('web_site_meetings_list') }}">Список совещаний</a></li>
        <li {% if active_tab_route == 'web_site_tasks_finite' %} class="active" {% endif %}><a href="{{ path('web_site_tasks_finite') }}">Список задач</a></li>
        <li {% if active_tab_route == 'web_site_questions_by_question_list' %} class="active" {% endif %}><a href="{{ path('web_site_questions_by_question_list') }}">Список решений</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li {% if active_tab_route == 'web_site_reports' %} class="active" {% endif %}><a href="{{ path('web_site_reports') }}">Отчеты</a></li>
        {% endif %}
    </ul>
{% endblock %}