{% extends '::base.html.twig' %}
{% set h1 = 'Задачи участника' %}
{% if active_tab_route is not defined %}
    {% set active_tab_route = '' %}
{% endif %}

{% block tabs %}
    <ul class="nav nav-tabs nav-tabs-default">
        <li {% if active_tab_route == 'current' %} class="active" {% endif %}>
            <a href="{{ path('web_site_user_tasks_current') }}">Текущие задачи</a>
        </li>

        <li {% if active_tab_route == 'regular' %} class="active" {% endif %}>
            <a href="{{ path('web_site_user_tasks_regular') }}">Постоянные задачи</a>
        </li>

        <li {% if active_tab_route == 'completed' %} class="active" {% endif %}>
            <a href="{{ path('web_site_user_tasks_completed') }}">Выполненные задачи</a>
        </li>
    </ul>
{% endblock %}